// 
// --------------------------------------------------

// Fonts
// --------------------------------------------------
@import url(http://fonts.googleapis.com/css?family=Open+Sans:600,400,300,700,800&subset=latin,cyrillic-ext)

=os
	font-family: "Open Sans", sans-serif
	font-weight: 400
	font-style: normal

=osl
	font-family: "Open Sans", sans-serif
	font-weight: 300
	font-style: normal

=osb
	font-family: "Open Sans", sans-serif
	font-weight: 700
	font-style: normal

=ossb
	font-family: "Open Sans", sans-serif
	font-weight: 600
	font-style: normal

=oseb
	font-family: "Open Sans", sans-serif
	font-weight: 800
	font-style: normal

// Variables & mixins & extend
// --------------------------------------------------
$default-transition-duration: 0.3s
$blue: #3dc7fe
$black: #242b2e

// Common blocks
// --------------------------------------------------
#applicationHost
	min-height: 100%

body
	font-size: 14px 
	+os
	line-height: 1.4

.cb-bet-list 
	padding: 0 20px 72px
	position: relative
	.h2
		margin-top: 20px
		margin-bottom: 15px
		text-align: left

.cb-nav>ul
	margin-top: 67px
	+r(w990)
		margin-top: 0
.cb-nav>ul>li
	width: 50px
	height: 60px
	line-height: 60px
	text-align: center
.cb-nav>ul>li>a
	padding: 0
	vertical-align: middle
// Headings
// --------------------------------------------------
.h2
	margin: 0
	+ossb
	font-size: 28px
	color: #000
	+r(w767)
		font-size: 16px
	&.h2_white
		color: #FFF 
// Nav
// --------------------------------------------------
.logo
	display: inline-block
	width: 120px
	height: 120px
	border-radius: 50%
	background: #2e373a
	position: relative
	&:before
		content: ""
		+s(logo)
		position: absolute
		top: 50%
		left: 50%
		margin-top: -35px
		margin-left: -40px

.cb-primaty-nav
	background: #242B2E
	padding: 25px 0px
	+r(w767)
	padding: 25px 0 0
	li
		padding: 25px 10px
		border-top: 1px solid #2e373a 
		text-align: center
		&:hover
			background: #2E373A 
		&:first-child
			border-top: none
			background: #242B2E 
	a
		display: block
		color: #FFF
		&:hover
			text-decoration: none
			color: $blue
		&.home
			color: $blue
			+ossb
			+transition
			&:hover
				+opacity(0.6)
		&.back
			padding-right: 10px
			color: #3dc7fe
			+ossb
			+transition
			&:before
				content: ""
				display: inline-block
				vertical-align: middle
				margin-right: 10px
				+s(back)
			&:hover
				+transition
				+opacity(0.8)
		&.bet
			&:hover
				.usd-wrap
					border-color: $blue
	.user
		.user__media
			margin-bottom: 5px
			position: relative
			display: inline-block
			text-align: center
		.user__media-ava
			width: 120px
			height: 120px
			border-radius: 50%
			overflow: hidden
			img
				max-width: 100% 
				height: auto
		.user__media-num
			width: 32px
			height: 32px
			line-height: 32px
			border-radius: 50%
			background: #8bd859 
			+ossb
			color: #FFF
			text-align: center
			position: absolute
			top: 0
			right: 0
			z-index: 100
		.user__name
			margin-bottom: 5px
		.user__bal
			display: inline-block
			font-size: 14px
			color: #666
			border-bottom: 1px dotted #666
			&:hover
				border-color: transparent 
			a
				color: #666
	.cb-primaty-nav-ico
		margin-bottom: 20px
		font-size: 36px
		vertical-align: middle
		display: inline-block
// Header
// --------------------------------------------------

// Footer
// --------------------------------------------------
