// 
// --------------------------------------------------

// Block
// --------------------------------------------------
.cb-shares
	padding: 20px
	display: none
	&.is-open
		display: block
.usd-wrap
	display: inline-block
	width: 40px
	height: 40px
	border-radius: 50%
	line-height: 24px
	text-align: center
	border: 5px solid #fff
	&:hover
		border-color: $blue 
	.fa-usd
		font-size: 24px
		vertical-align: middle
		display: inline-block

.cb-selection-rates
	&.is-hide
		display: none
	.cb-selection-rates
		padding: 20px
		background: #f3f3f3
		+r(w1024)
			padding: 10px
.cb-selection-rates-tabs
	ul.nav-tabs
		margin: -20px -20px 0
		+r(w1024)
			margin: -10px -10px 0
		li
			padding: 25px 15px
			margin-bottom: 0
			width: 50%
			text-align: center
			&:first-child
				border-right: 1px solid #ddd
			&.active
				a
					color: #000
					border-color: transparent 
		a
			display: inline-block
			padding: 0
			border: none
			font-size: 14px
			
			color: #999
			border-bottom: 1px dotted #999 
			background: transparent 
			+ossb
			&:hover
				background: transparent 
				border: none
	.tab-content
		text-align: left
		padding: 20px 0 0
		+r(w1024)
			padding: 10px 0 0

.btn
	padding: 5px 11px
	&.cb-btn-my
		width: 30px
		height: 30px
		line-height: 30px
		padding: 0
.btn-primary
	background: #3dc7fe
	border: 0
	+box-shadow(none) 
	&.active
		background: #35afe0

.btn-danger
	background: #f15b5b
	border-color: #f15b5b
	font-size: 14px
	+os

.cb-sort
	display: inline-block
	position: relative
	.cb-sort-up, .cb-sort-down
		position: absolute
		right: 10px
		color: $blue
		cursor: pointer
	.cb-sort-up
		top: 8px
	.cb-sort-down
		top: 8px

.cb-payment
	padding-top: 40px
	padding-bottom: 30px
	padding-right: 70px
	text-align: right
	+r(w990)
		padding-bottom: 0
	+r(w900)
		padding-right: 0
		text-align: center
	.cb-payment-1
		margin-bottom: -10px
		display: inline-block
		margin-left: 90px
		+s(alfa)
		+r(w1270)
			display: block
			margin: 0 auto 15px
	.cb-payment-2
		display: inline-block
		margin-left: 30px
		+s(visa)
		+r(w1270)
			display: block
			margin: 0 auto 15px
	.cb-payment-3
		display: inline-block
		margin-left: 0px
		+s(webmoney)
		+r(w1270)
			display: block
			margin: 0 auto 15px
.cb-translation
	padding: 20px
	background: #181D1F
	color: #fff
	position: fixed
	bottom: 0
	left: 88px
	right: 270px
	text-align: left
	z-index: 9999
	+r(w1801)
		right: 378px
	+r(w1401)
		left: 140px
	+r(w990)
		left: 0
		right: 0
	+r(w767)
		right: 0
	+r(w600)
		font-size: 12px
	+r(w480)
		font-size: 10px
	&.m-mod
		+r(w990)
			position: relative
	&.m-user
		left: 138px
		+r(w1801)
			left: 160px
		+r(w990)
			left: 0
	.cb-translation-play
		color: #FFF
		a
			color: #FFF
			&:hover
				text-decoration: none
		.fa-play-circle
			display: inline-block
			vertical-align: middle
			font-size: 32px
			margin-right: 10px
			color: #F3F3F3
			cursor: pointer
	.cb-translation-match
		color: $blue
	.fa-chevron-circle-up
		font-size: 32px
		position: absolute
		top: 50%
		margin-top: -16px
		right: 20px
		cursor: pointer

.cb-bet-item
	display: block
	position: relative
	+clr
	&.m-normal
		.cb-bet-item-flag
			+r(w990)
				display: inline-block
		.cb-bet-item-team
			+r(w990)
				display: inline-block
			+r(w560)
				display: block
	.cb-icon
		float: left
	.cb-bet-item-lbl
		float: right
	.b-bet-item-center
		overflow: hidden
	.cb-bet-item-buttons
		display: inline-block
		+r(w1400)
			margin-bottom: 10px
		+r(w640)
			display: block
	.cb-bet-item-lbl
		display: inline-block
		+r(w1601)
			width: 70px
	.cb-bet-item-left
		width: 420px
		float: left
		text-align: left
		+r(w1400)
			width: 100%
			margin: 0 auto 10px
			float: none
			text-align: center
		// +r(w1280)
		// 	width: 100%
		// 	margin: 0 auto 10px
		// 	text-align: center
	.cb-bet-item-right
		width: 320px
		height: 42px
		line-height: 42px
		float: right
		text-align: right
		font-size: 0
		+r(w1400)
			width: 100%
			height: auto
			float: none
			line-height: 1.4
			text-align: center
		// +r(w1280)
		// 	width: 100%
		// 	float: left
		// 	text-align: center
		+r(w560)
			height: auto
			line-height: 1.4
		.cb-bet-item-label
			&:first-child
				margin-left: 0
				+r(w560)
					margin: 0 auto 5px
	.cb-icon
		display: inline-block
		vertical-align: middle
		margin-right: 10px
	.cb-bet-item-team
		display: inline-block
		vertical-align: middle
		width: 80px
		margin-right: 10px
		text-align: left
		+ossb
		+text-overflow
		+r(w1601)
			// width: auto
			margin-right: 0
		+r(w1270)
			display: block
			margin-left: auto
			margin-right: auto
			font-size: 12px
		+r(w990)
			width: auto
			max-width: 80px
		+r(w560)
			max-width: 60px
	.cb-bet-item-date
		display: inline-block
		vertical-align: middle
		margin-right: 10px
		font-size: 14px
		+r(w1270)
			font-size: 12px
		+r(w990)
			font-size: 10px
	.cb-bet-item-flag
		display: inline-block
		vertical-align: middle
		width: 42px
		height: 42px
		border-radius: 50%
		margin-right: 20px
		overflow: hidden
		+r(w1270)
			display: none
		img
			max-width: 100%
	.cb-bet-item-label
		display: inline-block
		vertical-align: middle
		margin-left: 5px
		padding: 3px 15px
		border-radius: 3px
		font-size: 14px
		line-height: 1.4
		background: $blue
		color: #fff 
		text-align: center
		+r(w560)
			display: block
			width: 60px
			padding: 3px 5px
			margin: 0 auto 10px
		+r(w360)
			width: auto
	.cb-bet-item-ico
		display: inline-block
		vertical-align: middle
		margin-left: 5px
		width: 20px
		height: 20px
		line-height: 20px
		border-radius: 50%
		background: #E3E3E3
		font-size: 14px
		color: #fff
		text-align: center
		+r(w1601)
			margin-bottom: 8px
		&.m-gray
			color: #999 
		&.m-red
			background: #f15b5b
		&.m-green
			background: #8bd859
		&.m-black
			background: #242b2e  
	.cb-i-arr-right
		display: inline-block
		+arr(8,10, #fff, right)
		margin-left: 3px
		&.m-gray
			display: inline-block
			+arr(8,10, #999, right)
			margin-left: 1px
	.fa
		width: 20px
		display: inline-block
		vertical-align: middle
		// margin-left: 10px
		margin-left: 5px
		font-size: 21px
		color: #E3E3E3
		+r(w1601)
			margin-bottom: 8px
	// .fa-user
	// 	margin-top: -3px
	.fa-user-dgray
		color: #999 
	.fa-play-circle
		// color: #cccccc

.baron-wrap
	+r(w767)
		width: 100%
.cb-bet-translation
	+opacity(0)
	height: 0
	flex: initial
	
	-webkit-transform: scaleY(0)
	-o-transform: scaleY(0)
	-ms-transform: scaleY(0)
	transform: scaleY(0)

	-webkit-transform-origin: top
	-o-transform-origin: top
	-ms-transform-origin: top
	transform-origin: top

	-webkit-transition: -webkit-transform 0.26s ease-out
	-o-transition: -o-transform 0.26s ease
	-ms-transition: -ms-transform 0.26s ease
	transition: transform 0.26s ease

	background: #181d1f
	color: #fff
	
	position: fixed
	top: 0px
	bottom: 0px
	left: 138px
	right: 270px
	z-index: 9999
	+r(w1801)
		right: 378px
	+r(w1401)
		left: 190px
	+r(w990)
		left: 0
		right: 0
	// +r(h500)
	// 	position: static
	&.is-active
		+opacity(1)

		height: 100% 
		flex: 1
		-webkit-transform: scaleY(1)
		-o-transform: scaleY(1)
		-ms-transform: scaleY(1)
		// transform: scaleY(1)
		// +r(h500)
		// 	height: auto
		&:before
			content: ""
			height: 100%
			width: 100%
			position: absolute
			left: 0
			top: 0
			bottom: 0
			z-index: -1
			background: #181d1f
		+r(w767)
			flex: 0 0 100%
	.scroller
		// height: 60%
		height: 80%
		+r(w990)
			height: 60%
		+r(h500)
			height: 100%
	.scroller-bar-wrapper
		// bottom: 40%
		bottom: 20%
		+r(w990)
			bottom: 40%
		+r(h500)
			height: 100%
.baron-wrap
	width: 100%
// 
// --------------------------------------------------
.cb-bonus
	margin-bottom: 20px
	padding: 40px 20px
	background: #3dc7fe
	color: #fff 
	text-align: center
	+r(w990)
		margin-bottom: 10px
	.cb-bonus-percent
		font-size: 60px
	.cb-bonus-meta
		padding: 0 20px
		font-size: 18px

.clip
	width: 28px
	height: 28px
	background: #FFF 
	border-radius: 50%
	position: absolute
	right: 60px
	top: 50%
	margin-top: -14px
	cursor: pointer
	&:before
		content: ""
		+s(clip)
		position: absolute
		top: 50%
		left: 50%
		margin-left: -6px
		margin-top: -10px

.cb-lbl
	display: inline-block
	width: 70px
	padding: 6px 
	background: #FFF 
	font-size: 14px
	text-align: center
	color: #000
	&:hover
		color: #000
		text-decoration: none 
	&.m-sucess
		background: #8BD859
		color: #fff
	&.m-gray
		background: #e3e3e3
	+r(w560)
		width: 60px
		font-size: 12px
		
.ante
	.ante-top
		padding: 15px 20px
		background: #FFF
		font-size: 14px
		position: relative
		cursor: pointer
		+nosel
		&.is-open
			&:before
				+rotate(180)
		&:before
			content: ""
			position: absolute
			top: 50%
			margin-top: -5px
			right: 25px
			+s(i-arr)
	.ante-content
		background: #FFF
		padding: 0 20px 20px
		margin-bottom: 20px
	.ante-content-row
		padding: 10px 0
		border-bottom: 1px solid #f3f3f3
		&:first-child
			border-top: 1px solid #f3f3f3
	.ante-content-title
		height: 30px
		line-height: 30px
		+clr
	.ante-content-heading
		float: left
		font-size: 14px
		color: #3DC7FE 
	.label-info
		float: right

.label-info
	display: inline-block
	vertical-align: middle
	margin-left: 5px
	padding: 3px 15px
	border-radius: 3px
	font-size: 14px
	line-height: 1.4
	background: $blue
	font-weight: normal
	color: #fff 
	text-align: center


			 



