doctype html

html
  head
    title Cybets cashbox
    include includes/_head
  body
    #applicationHost
      section.cb-viewport-container.cb-r-viewport-container
        include includes/_sidebar
        include includes/_filter
        .cb-l
          .cb-l-col1.cb-minw990
            include includes/_translation-sticked2
            h2.cb-profile-title.cb-h2 Пользователь
            .cb-profile
              .cb-profile-nav
                ul
                  li
                    a(href="#") Профиль
                  li
                    a(href="#").is-active  Касса
                  li
                    a(href="#") История
              .cb-profile-user
                .cb-cash
                  i.cb-cash-ico
                  .cb-cash-row
                    .cb-cash-row-label
                      label.cb-btn-gray.btn.btn-primary
                        i.fa.fa-usd
                      .cb-cash-row-note.is-active
                        span 10.23
                    button.btn.btn-info Пополнить
                  .cb-cash-row
                    .cb-cash-row-label
                      label.cb-btn-gray.btn.btn-primary
                        i.fa.fa-database
                      .cb-cash-row-note
                        span 20.50
                    button.btn.btn-info.m-mod Пополнить
            .cb-table
              .cb-table-top
                .cb-table-top-title Бонусы
              .cb-table-content
                table.cb-table-table
                  thead
                    tr
                      td Дата актив. 10.20.2014
                      td Дата завер.
                      td Сумма(шаг)
                      td Очки
                      td Прогресс
                      td 
                  tbody
                    tr
                      td 
                        span.cb-table-table-note 
                          p 10.20.2014
                      td 
                        span.cb-table-table-note 
                          p 10.20.2014
                      td 
                        span.cb-table-table-note 
                          p $20($2)
                      td 
                        span.cb-table-table-note 
                          p Исключая ничью (осн.время)
                      td 
                        span.cb-table-table-note 
                          .cb-progress
                            .cb-progress-items
                              span.cb-progress-item.is-active
                              span.cb-progress-item.is-active
                              span.cb-progress-item.is-active
                              span.cb-progress-item.is-active
                              span.cb-progress-item.is-active
                              span.cb-progress-item.is-active
                              span.cb-progress-item
                              span.cb-progress-item
                              span.cb-progress-item
                              span.cb-progress-item
                      td 
                        span.cb-table-table-note 
                          label.checkbox
                            input(type='checkbox', value='')
                            i.checkbox__ico
                    tr
                      td 
                        span.cb-table-table-note 
                          p 10.20.2014
                      td 
                        span.cb-table-table-note 
                          p 10.20.2014
                      td 
                        span.cb-table-table-note 
                          p $20($2)
                      td 
                        span.cb-table-table-note 
                          p Исключая ничью (осн.время)
                      td 
                        span.cb-table-table-note 
                          .cb-progress
                            .cb-progress-items
                              span.cb-progress-item.is-active
                              span.cb-progress-item.is-active
                              span.cb-progress-item.is-active
                              span.cb-progress-item.is-active
                              span.cb-progress-item.is-active
                              span.cb-progress-item.is-active
                              span.cb-progress-item
                              span.cb-progress-item
                              span.cb-progress-item
                              span.cb-progress-item
                      td 
                        span.cb-table-table-note 
                          label.checkbox
                            input(type='checkbox', value='')
                            i.checkbox__ico
                    tr
                      td 
                        span.cb-table-table-note 
                          p 10.20.2014
                      td 
                        span.cb-table-table-note 
                          p 10.20.2014
                      td 
                        span.cb-table-table-note 
                          p $20($2)
                      td 
                        span.cb-table-table-note 
                          p Исключая ничью (осн.время)
                      td 
                        span.cb-table-table-note 
                          .cb-progress
                            .cb-progress-items
                              span.cb-progress-item.is-active
                              span.cb-progress-item.is-active
                              span.cb-progress-item.is-active
                              span.cb-progress-item.is-active
                              span.cb-progress-item.is-active
                              span.cb-progress-item.is-active
                              span.cb-progress-item
                              span.cb-progress-item
                              span.cb-progress-item
                              span.cb-progress-item
                      td 
                        span.cb-table-table-note 
                          label.checkbox
                            input(type='checkbox', value='')
                            i.checkbox__ico
                    tr
                      td 
                        span.cb-table-table-note 
                          p 10.20.2014
                      td 
                        span.cb-table-table-note 
                          p 10.20.2014
                      td 
                        span.cb-table-table-note 
                          p $20($2)
                      td 
                        span.cb-table-table-note 
                          p Исключая ничью (осн.время)
                      td 
                        span.cb-table-table-note 
                          .cb-progress
                            .cb-progress-items
                              span.cb-progress-item.is-active
                              span.cb-progress-item.is-active
                              span.cb-progress-item.is-active
                              span.cb-progress-item.is-active
                              span.cb-progress-item.is-active
                              span.cb-progress-item.is-active
                              span.cb-progress-item
                              span.cb-progress-item
                              span.cb-progress-item
                              span.cb-progress-item
                      td 
                        span.cb-table-table-note 
                          label.checkbox
                            input(type='checkbox', value='')
                            i.checkbox__ico
                    tr
                      td 
                        span.cb-table-table-note 
                          p 10.20.2014
                      td 
                        span.cb-table-table-note 
                          p 10.20.2014
                      td 
                        span.cb-table-table-note 
                          p $20($2)
                      td 
                        span.cb-table-table-note 
                          p Исключая ничью (осн.время)
                      td 
                        span.cb-table-table-note 
                          .cb-progress
                            .cb-progress-items
                              span.cb-progress-item.is-active
                              span.cb-progress-item.is-active
                              span.cb-progress-item.is-active
                              span.cb-progress-item.is-active
                              span.cb-progress-item.is-active
                              span.cb-progress-item.is-active
                              span.cb-progress-item
                              span.cb-progress-item
                              span.cb-progress-item
                              span.cb-progress-item
                      td 
                        span.cb-table-table-note 
                          label.checkbox
                            input(type='checkbox', value='')
                            i.checkbox__ico
            include includes/_translation
          .cb-l-col2.cb-hide1600
            .cb-profile-bonus
              .cb-profile-bonus-tooltip Активный бонус
              span.cb-chart.js-chart(data-percent='86')
                span.cb-chart-percent
              .cb-profile-bonus-note
                p +123 Ставка
                p +230 Участие в тотализаторе
          .cb-l-col3.m-mod
            include includes/_chat
    script(data-headjs-load='js/init.js', src='js/lib/head.js')
