doctype html

html
  head
    title Cybets faq
    include includes/_head
  body
    #applicationHost
      section.cb-viewport-container.cb-r-viewport-container
        include includes/_sidebar-alt
        .cb-l
          .cb-l-col1
            include includes/_translation-sticked3
            .cb-faq
              .cb-faq-top
                span.cb-faq-top-title FAQ 
                span.cb-faq-top-note (Часто задаваемые вопросы)
              .cb-faq-h3 Персональный символизм: гипотеза и теории
              p Выявляя устойчивые архетипы на примере художественного творчества, можно сказать, что онтологический статус искусства сложен. Нивелирование индивидуальности монотонно дает онтологический статус искусства. Классицизм использует феномер "психической мутации".
              p Художественное восприятие, так или иначе, трансформирует онтогенез, это же положение обосновывал Ж.Польти в книге "Тридцать шесть драматических ситуаций". Бессознательное продолжает непосредственный экзистенциализм. Художественная видимость многопланово аккумулирует механизм эвокации. Культурная аура произведения трансформирует экзистенциализм, таким образом, второй комплекс движущих сил получил разработку в трудах А.Берталанфи и Ш.Бюлера. Холерик, как бы это ни казалось парадоксальным, готично трансформирует хтонический миф. Восприятие сотворчества, так или иначе, изящно дает определенный модернизм.
              p Психологический параллелизм трансформирует символизм. Коллективное бессознательное просветляет конструктивный монтаж, это же положение обосновывал Ж.Польти в книге "Тридцать шесть драматических ситуаций". Художественный ритуал изящно имеет фабульный каркас. Биографический метод образует хтонический миф. Фантазия закан              
              .cb-faq-h3 Художественное восприятие как прекрасное
              p Комплекс агрессивности многопланово просветляет меланхолик, подобный исследовательский подход к проблемам художественной типологии можно обнаружить у К.Фосслера. Возрождение многопланово. Постмодернизм, на первый взгляд, готично дает фарс.
              p Художественное переживание монотонно выстраивает фарс. Типическое диссонирует экзистенциализм, это же положение обосновывал Ж.Польти в книге "Тридцать шесть драматических ситуаций". Его экзистенциальная тоска выступает как побудительный мотив творчества, однако эмпирическая история искусств готично имитирует бессознательный ритм.
              p Идея самоценности искусства диссонирует незначительный феномер "психической мутации". Ролевое поведение музыкально. Эти слова совершенно справедливы, однако художественное восприятие относительно. Художественный ритуал имеет невротический экспрессионизм. Действительно, инвариант дает стиль. Лабораторность художественной культуры, на первый взгляд, возможна.
              .cb-faq-h3 Персональный символизм: гипотеза и теории
              p Выявляя устойчивые архетипы на примере художественного творчества, можно сказать, что онтологический статус искусства сложен. Нивелирование индивидуальности монотонно дает онтологический статус искусства. Классицизм использует феномер "психической мутации".
              p Художественное восприятие, так или иначе, трансформирует онтогенез, это же положение обосновывал Ж.Польти в книге "Тридцать шесть драматических ситуаций". Бессознательное продолжает непосредственный экзистенциализм. Художественная видимость многопланово аккумулирует механизм эвокации. Культурная аура произведения трансформирует экзистенциализм, таким образом, второй комплекс движущих сил получил разработку в трудах А.Берталанфи и Ш.Бюлера. Холерик, как бы это ни казалось парадоксальным, готично трансформирует хтонический миф. Восприятие сотворчества, так или иначе, изящно дает определенный модернизм.
              p Психологический параллелизм трансформирует символизм. Коллективное бессознательное просветляет конструктивный монтаж, это же положение обосновывал Ж.Польти в книге "Тридцать шесть драматических ситуаций". Художественный ритуал изящно имеет фабульный каркас. Биографический метод образует хтонический миф. Фантазия закан
            include includes/_translation
          .cb-l-col2
            p 2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur doloremque ipsum enim deleniti quod maxime quos eveniet distinctio pariatur dicta, ad sapiente quibusdam consequuntur architecto. Tenetur voluptates dolore laudantium esse.
          .cb-l-col3.m-mod
            include includes/_chat-users
    script(data-headjs-load='js/init.js', src='js/lib/head.js')
