doctype html

html
  head
    title Cybets history
    include includes/_head
  body
    #applicationHost
      section.cb-viewport-container.cb-r-viewport-container
        include includes/_sidebar
        include includes/_filter
        .cb-l.m-nav
          .cb-l-col1.cb-minw990
            include includes/_translation-sticked2
            h2.cb-profile-title.cb-h2 Пользователь
            .cb-profile
              .cb-profile-nav
                ul
                  li
                    a(href="#").is-active Профиль
                  li
                    a(href="#") Касса
                  li
                    a(href="#") История
            .cb-table.m-long
              .cb-table-top
                .cb-table-list
                  ul.cb-table-list-nav.nav.nav-tabs(role='tablist')
                    li.cb-table-list-item.active
                      a(href='#one', role='tab', data-toggle='tab') История ставок
                    li.cb-table-list-item
                      a(href='#two', role='tab', data-toggle='tab') История прогнозов
                    li.cb-table-list-item
                      a(href='#tree', role='tab', data-toggle='tab') История экспрессов
                    li.cb-table-list-item
                      a(href='#four', role='tab', data-toggle='tab') История турниров
                    li.cb-table-list-item
                      a(href='#five', role='tab', data-toggle='tab') История ТипЛото
                    li.cb-table-list-item
                      a(href='#six', role='tab', data-toggle='tab') История ставок Live
              .cb-table-content.tab-content
                #one.cb-table-content-item.tab-pane.active
                  table.cb-table-table
                    thead
                      tr
                        td Число
                        td Результат
                        td Событие
                        td Рынок
                        td Исход
                        td Коэф.
                        td Уверенность %
                    tbody
                      tr
                        td 
                          span.cb-table-table-note 
                            p 25.05.2014
                            p 14:35
                        td 
                          span.cb-table-table-note 
                            p Возврат
                        td 
                          span.cb-table-table-note 
                            p Манчестер Юнайтед - Челси
                        td 
                          span.cb-table-table-note 
                            p Исключая ничью (осн.время)
                        td 
                          span.cb-table-table-note 
                            p Манчестер Юнайтед
                        td 
                          span.cb-table-table-note 
                            p 2.74
                        td 
                          span.cb-table-table-note 
                            p 100
                      tr
                        td 
                          span.cb-table-table-note 
                            p 25.05.2014
                            p 14:35
                        td 
                          span.cb-table-table-note 
                            span.cb-status.cb-status-income +174.00
                        td 
                          span.cb-table-table-note 
                            p Манчестер Юнайтед - Челси
                        td 
                          span.cb-table-table-note 
                            p Исключая ничью (осн.время)
                        td 
                          span.cb-table-table-note 
                            p Манчестер Юнайтед
                        td 
                          span.cb-table-table-note 
                            p 2.74
                        td 
                          span.cb-table-table-note 
                            p 100
                      tr
                        td 
                          span.cb-table-table-note 
                            p 25.05.2014
                            p 14:35
                        td 
                          span.cb-table-table-note 
                            span.cb-status.cb-status-loss +174.00
                        td 
                          span.cb-table-table-note 
                            p Манчестер Юнайтед - Челси
                        td 
                          span.cb-table-table-note 
                            p Исключая ничью (осн.время)
                        td 
                          span.cb-table-table-note 
                            p Манчестер Юнайтед
                        td 
                          span.cb-table-table-note 
                            p 2.74
                        td 
                          span.cb-table-table-note 
                            p 100
                      tr
                        td 
                          span.cb-table-table-note 
                            p 25.05.2014
                            p 14:35
                        td 
                          span.cb-table-table-note 
                            p Возврат
                        td 
                          span.cb-table-table-note 
                            p Манчестер Юнайтед - Челси
                        td 
                          span.cb-table-table-note 
                            p Исключая ничью (осн.время)
                        td 
                          span.cb-table-table-note 
                            p Манчестер Юнайтед
                        td 
                          span.cb-table-table-note 
                            p 2.74
                        td 
                          span.cb-table-table-note 
                            p 100
                      tr
                        td 
                          span.cb-table-table-note 
                            p 25.05.2014
                            p 14:35
                        td 
                          span.cb-table-table-note 
                            span.cb-status.cb-status-income +174.00
                        td 
                          span.cb-table-table-note 
                            p Манчестер Юнайтед - Челси
                        td 
                          span.cb-table-table-note 
                            p Исключая ничью (осн.время)
                        td 
                          span.cb-table-table-note 
                            p Манчестер Юнайтед
                        td 
                          span.cb-table-table-note 
                            p 2.74
                        td 
                          span.cb-table-table-note 
                            p 100
                      tr
                        td 
                          span.cb-table-table-note 
                            p 25.05.2014
                            p 14:35
                        td 
                          span.cb-table-table-note 
                            span.cb-status.cb-status-loss +174.00
                        td 
                          span.cb-table-table-note 
                            p Манчестер Юнайтед - Челси
                        td 
                          span.cb-table-table-note 
                            p Исключая ничью (осн.время)
                        td 
                          span.cb-table-table-note 
                            p Манчестер Юнайтед
                        td 
                          span.cb-table-table-note 
                            p 2.74
                        td 
                          span.cb-table-table-note 
                            p 100
                      tr
                        td 
                          span.cb-table-table-note 
                            p 25.05.2014
                            p 14:35
                        td 
                          span.cb-table-table-note 
                            p Возврат
                        td 
                          span.cb-table-table-note 
                            p Манчестер Юнайтед - Челси
                        td 
                          span.cb-table-table-note 
                            p Исключая ничью (осн.время)
                        td 
                          span.cb-table-table-note 
                            p Манчестер Юнайтед
                        td 
                          span.cb-table-table-note 
                            p 2.74
                        td 
                          span.cb-table-table-note 
                            p 100
                      tr
                        td 
                          span.cb-table-table-note 
                            p 25.05.2014
                            p 14:35
                        td 
                          span.cb-table-table-note 
                            span.cb-status.cb-status-income +174.00
                        td 
                          span.cb-table-table-note 
                            p Манчестер Юнайтед - Челси
                        td 
                          span.cb-table-table-note 
                            p Исключая ничью (осн.время)
                        td 
                          span.cb-table-table-note 
                            p Манчестер Юнайтед
                        td 
                          span.cb-table-table-note 
                            p 2.74
                        td 
                          span.cb-table-table-note 
                            p 100
                      tr
                        td 
                          span.cb-table-table-note 
                            p 25.05.2014
                            p 14:35
                        td 
                          span.cb-table-table-note 
                            span.cb-status.cb-status-loss +174.00
                        td 
                          span.cb-table-table-note 
                            p Манчестер Юнайтед - Челси
                        td 
                          span.cb-table-table-note 
                            p Исключая ничью (осн.время)
                        td 
                          span.cb-table-table-note 
                            p Манчестер Юнайтед
                        td 
                          span.cb-table-table-note 
                            p 2.74
                        td 
                          span.cb-table-table-note 
                            p 100
                      tr
                        td 
                          span.cb-table-table-note 
                            p 25.05.2014
                            p 14:35
                        td 
                          span.cb-table-table-note 
                            p Возврат
                        td 
                          span.cb-table-table-note 
                            p Манчестер Юнайтед - Челси
                        td 
                          span.cb-table-table-note 
                            p Исключая ничью (осн.время)
                        td 
                          span.cb-table-table-note 
                            p Манчестер Юнайтед
                        td 
                          span.cb-table-table-note 
                            p 2.74
                        td 
                          span.cb-table-table-note 
                            p 100
                      tr
                        td 
                          span.cb-table-table-note 
                            p 25.05.2014
                            p 14:35
                        td 
                          span.cb-table-table-note 
                            span.cb-status.cb-status-income +174.00
                        td 
                          span.cb-table-table-note 
                            p Манчестер Юнайтед - Челси
                        td 
                          span.cb-table-table-note 
                            p Исключая ничью (осн.время)
                        td 
                          span.cb-table-table-note 
                            p Манчестер Юнайтед
                        td 
                          span.cb-table-table-note 
                            p 2.74
                        td 
                          span.cb-table-table-note 
                            p 100
                      tr
                        td 
                          span.cb-table-table-note 
                            p 25.05.2014
                            p 14:35
                        td 
                          span.cb-table-table-note 
                            span.cb-status.cb-status-loss +174.00
                        td 
                          span.cb-table-table-note 
                            p Манчестер Юнайтед - Челси
                        td 
                          span.cb-table-table-note 
                            p Исключая ничью (осн.время)
                        td 
                          span.cb-table-table-note 
                            p Манчестер Юнайтед
                        td 
                          span.cb-table-table-note 
                            p 2.74
                        td 
                          span.cb-table-table-note 
                            p 100
                #two.cb-table-content-item.tab-pane 222
                #tree.cb-table-content-item.tab-pane 333
                #four.cb-table-content-item.tab-pane 444
                #five.cb-table-content-item.tab-pane 555
                #six.cb-table-content-item.tab-pane 666
            include includes/_translation
          .cb-l-col3.m-mod
            include includes/_chat
    script(data-headjs-load='js/init.js', src='js/lib/head.js')
