doctype html

html
  head
    title Cybets index
    include includes/_head
  body
    include includes/_popup
    #applicationHost
      .cb-sexy-nav
        .cb-sexy-nav-left
          ul
            li.cb-sexy-nav-item
              a(href="#").cb-sexy-logo
                i.cb-navmobile-back
                i.cb-icon.cb-icon-logo 
                | cybets.net
            li
              a(href="#") Ставки
            li
              a(href="#") Тотализатор
            li
              a(href="#") Вход
        .cb-sexy-nav-right
          .cb-sexy-nav-user
            ul
              li
                a(href="#") 
                  i.fa.fa-user
                  span.cb-user-nick user-name
              li
                i.fa.fa-cog
              li
                i.fa.fa-cog
      section.cb-viewport-container.cb-r-viewport-container
        include includes/_sidebar
        include includes/_filter
        .cb-l.m-nav
          .cb-l-col1
            include includes/_match
            include includes/_payment
            include includes/_translation
          .cb-l-col2
            include includes/_rates
          .cb-l-col3.m-mod
            include includes/_chat
    script(data-headjs-load='js/init.js', src='js/lib/head.js')
