doctype html

html
  head
    title Cybets list-totalisator
    include includes/_head
  body
    include includes/_popup
    #applicationHost
      section.cb-viewport-container.cb-r-viewport-container
        include includes/_sidebar
        include includes/_filter
        .cb-l
          .cb-l-col1
            include includes/_totalisator
            include includes/_payment
            include includes/_translation
          .cb-l-col2
            include includes/_news
          .cb-l-col3.m-mod
            include includes/_chat
    script(data-headjs-load='js/init.js', src='js/lib/head.js')
