doctype html

html
  head
    title Cybets index
    include includes/_head
  body
    .cb-overlay.js-overlay(style='display: block;')
      .cb-popup.js-popup.js-popup-reg
        .cb-popup-in
          .cb-popup-top
            h2.cb-h2 Регистрация
            i.cb-popup-close.fa.fa-close.js-popup-close
          .cb-popup-meta 1. Регистрационные данные
          .cb-popup-row
            .cb-popup-label1
              .cb-input-wrap
                i.cb-popup-ico1.fa.fa-user
                input.cb-popup-input.input(placeholder='Ваше имя', type='text')
            .cb-popup-label2
              .cb-popup-nick Имя для отображения в системе
          .cb-popup-row
            .cb-popup-label1
              .cb-input-wrap
                i.cb-popup-ico2.fa.fa-envelope-o
                input.cb-popup-input.input(placeholder='Email', type='text')
            .cb-popup-label2
              .cb-popup-succes Отлично! Письмо подтверждения будет выслано на данный адрес.
          .cb-popup-row
            .cb-popup-label1
              .cb-input-wrap
                i.cb-popup-ico3.fa.fa-phone
                input.cb-popup-input.input(placeholder='Телефон', type='text')
            .cb-popup-label2
              .cb-popup-error Данный почтовый адрес уже занят. 
                a(href="#").cb-popup-succes-link Войти 
                | или 
                a(href="#").cb-popup-succes-link восстановить пароль?
          .cb-popup-row.m-btn
            a.cb-popup-cansel(href='#') Отмена
            a.cb-popup-next.btn(href='#') Дальше
        .cb-popup-step.m-step2
          span 2
        .cb-popup-step.m-step3
          span 3