doctype html

html
  head
    title Cybets question
    include includes/_head
  body
    #applicationHost
      section.cb-viewport-container.cb-r-viewport-container
        include includes/_sidebar-alt
        .cb-l
          .cb-l-col1
            include includes/_translation-sticked3
            include includes/_question
            include includes/_translation
          .cb-l-col2
            include includes/_info
          .cb-l-col3.m-mod
            include includes/_chat-users
    script(data-headjs-load='js/init.js', src='js/lib/head.js')
