doctype html

html
  head
    title Cybets template
    include includes/_head
  body
    #applicationHost
      section.cb-viewport-container.cb-r-viewport-container
        include includes/_sidebar
        include includes/_filter
        .cb-l
          .cb-l-col1
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae vitae animi, suscipit consequatur eos aperiam natus veritatis delectus vel, quisquam quod doloremque, quia ducimus pariatur ad iusto deserunt excepturi vero.
          .cb-l-col2
            include includes/_rates
          .cb-l-col3.m-mod
            include includes/_chat
    script(data-headjs-load='js/init.js', src='js/lib/head.js')
