- # encoding: UTF-8

!!!
%html
  %head
    %title Cybets
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge, chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "black", :name => "apple-mobile-web-app-status-bar-style"}/
    %meta{:content => "telephone=no", :name => "format-detection"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "css/app.css", :rel => "stylesheet"}/
    %link{:href => "css/screen.css", :rel => "stylesheet"}/
    :javascript
      if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
        var msViewportStyle = document.createElement("style");
        var mq = "@@-ms-viewport{width:auto!important}";
        msViewportStyle.appendChild(document.createTextNode(mq));
        document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
      }
  %body
    .cb-overlay.js-overlay{:style => "display: none;"}
      .cb-popup.js-popup.js-popup-reg
        .cb-popup-in
          .cb-popup-top
            %h2.cb-h2 Регистрация
            %i.cb-popup-close.fa.fa-close.js-popup-close
          .cb-popup-meta 1. Регистрационные данные
          .cb-popup-row
            .cb-input-wrap
              %i.cb-popup-ico1.fa.fa-user
              %input.cb-popup-input.input{:placeholder => "Ваше имя", :type => "text"}
          .cb-popup-row
            .cb-input-wrap
              %i.cb-popup-ico2.fa.fa-envelope-o
              %input.cb-popup-input.input{:placeholder => "Email", :type => "text"}
          .cb-popup-row
            .cb-input-wrap
              %i.cb-popup-ico3.fa.fa-phone
              %input.cb-popup-input.input{:placeholder => "Телефон", :type => "text"}
          .cb-popup-row.m-btn
            %a.cb-popup-cansel{:href => "#"} Отмена
            %a.cb-popup-next.btn{:href => "#"} Дальше
        .cb-popup-step.m-step2
          %span 2
        .cb-popup-step.m-step3
          %span 3
    .cb-overlay.js-overlay{:style => "display: none;"}
      .cb-popup.js-popup.js-popup-enter
        .cb-popup-in
          .cb-popup-top.m-mod
            %h2.h2 Вход в систему
            %i.cb-popup-close.fa.fa-close.js-popup-close
          .cb-popup-row
            .cb-input-wrap
              %i.cb-popup-ico1.fa.fa-user
              %input.cb-popup-input.input{:placeholder => "Логин", :type => "text"}
          .cb-popup-row
            .cb-input-wrap
              %i.cb-popup-ico2.fa.fa-lock
              %input.cb-popup-input.input{:placeholder => "Пароль", :type => "text"}
          .cb-popup-row.m-btn
            %a.cb-popup-cansel{:href => "#"} Отмена
            %a.cb-popup-next.btn{:href => "#"} Войти
    #applicationHost
      %section.cb-viewport-container.cb-r-viewport-container
        .cb-primaty-nav.js-set-absolute
          %ul
            %li
              %a.cb-home{:href => "#"}
                %i.cb-logo.cb-icon-logo
                %div Сybets.net
            %li
              %a.bet{:href => "#"}
                %span.cb-primaty-nav-ico.usd-wrap
                  %i.fa.fa-usd
                %div Ставки
            %li
              %a{:href => "#"}
                %i.cb-primaty-nav-ico.fa.fa-users
                %div Тотализатор
            %li
              %a{:href => "#"}
                %i.cb-primaty-nav-ico.fa.fa-arrow-circle-o-right
                %div Вход
        %nav.cb-nav.cb-nav-filter
          %ul
            %li
              %a.cb-icon.cb-r-icon.cb-icon-dota2{:href => "#"}
            %li
              %a.cb-icon.cb-r-icon.cb-icon-cs{:href => "#"}
            %li.active
              %a.cb-icon.cb-r-icon.cb-icon-wot{:href => "#"}
            %li
              %a.cb-icon.cb-r-icon.cb-icon-to{:href => "#"}
            %li
              %a.cb-icon.cb-r-icon.cb-icon-pb{:href => "#"}
        %section.cb-container
          %section.cb-bet-translation
            .cb-match
              .cb-match-top
                %h2.cb-h2.m-white Трансляции
                %i.cb-match-close.fa.fa-close.js-match-close
              .cb-match-nav
                %ul
                  %li
                    %a{:href => "#"}
                      %i.cb-icon.cb-icon-wot.cb-icon-wot_gray
                      %span Все
                  %li
                    %a.is-active{:href => "#"}
                      %i.cb-icon.cb-icon-wot.cb-icon-wot_gray.is-active
                      %span Англия - Германия
                  %li
                    %a{:href => "#"}
                      %i.cb-icon.cb-icon-wot.cb-icon-wot_gray
                      %span Камерун - Франция
              .match-items
                .baron-wrap.js-baron
                  .scroller
                    .match-item
                      .match-item-media
                        .match-item-media-play
                          %img{:alt => "img", :src => "http://placehold.it/700x250"}
                        %i.match-item-media-ico
                      .match-item-descr
                        .match-item-descr-name
                          %a{:href => "#"} Название трансляции
                    .match-item
                      .match-item-media
                        .match-item-media-play
                          %img{:alt => "img", :src => "http://placehold.it/700x250"}
                        %i.match-item-media-ico
                      .match-item-descr
                        .match-item-descr-name
                          %a{:href => "#"} Название трансляции
                    .match-item
                      .match-item-media
                        .match-item-media-play
                          %img{:alt => "img", :src => "http://placehold.it/700x250"}
                        %i.match-item-media-ico
                      .match-item-descr
                        .match-item-descr-name
                          %a{:href => "#"} Название трансляции
                    .match-item
                      .match-item-media
                        .match-item-media-play
                          %img{:alt => "img", :src => "http://placehold.it/700x250"}
                        %i.match-item-media-ico
                      .match-item-descr
                        .match-item-descr-name
                          %a{:href => "#"} Название трансляции
                    .match-item
                      .match-item-media
                        .match-item-media-play
                          %img{:alt => "img", :src => "http://placehold.it/700x250"}
                        %i.match-item-media-ico
                      .match-item-descr
                        .match-item-descr-name
                          %a{:href => "#"} Название трансляции
                    .match-item
                      .match-item-media
                        .match-item-media-play
                          %img{:alt => "img", :src => "http://placehold.it/700x250"}
                        %i.match-item-media-ico
                      .match-item-descr
                        .match-item-descr-name
                          %a{:href => "#"} Название трансляции
                    .match-item
                      .match-item-media
                        .match-item-media-play
                          %img{:alt => "img", :src => "http://placehold.it/700x250"}
                        %i.match-item-media-ico
                      .match-item-descr
                        .match-item-descr-name
                          %a{:href => "#"} Название трансляции
                    .match-item
                      .match-item-media
                        .match-item-media-play
                          %img{:alt => "img", :src => "http://placehold.it/700x250"}
                        %i.match-item-media-ico
                      .match-item-descr
                        .match-item-descr-name
                          %a{:href => "#"} Название трансляции
                    .match-item
                      .match-item-media
                        .match-item-media-play
                          %img{:alt => "img", :src => "http://placehold.it/700x250"}
                        %i.match-item-media-ico
                      .match-item-descr
                        .match-item-descr-name
                          %a{:href => "#"} Название трансляции
                    .match-item
                      .match-item-media
                        .match-item-media-play
                          %img{:alt => "img", :src => "http://placehold.it/700x250"}
                        %i.match-item-media-ico
                      .match-item-descr
                        .match-item-descr-name
                          %a{:href => "#"} Название трансляции
                    .match-item
                      .match-item-media
                        .match-item-media-play
                          %img{:alt => "img", :src => "http://placehold.it/700x250"}
                        %i.match-item-media-ico
                      .match-item-descr
                        .match-item-descr-name
                          %a{:href => "#"} Название трансляции
                    .match-item
                      .match-item-media
                        .match-item-media-play
                          %img{:alt => "img", :src => "http://placehold.it/700x250"}
                        %i.match-item-media-ico
                      .match-item-descr
                        .match-item-descr-name
                          %a{:href => "#"} Название трансляции
                  .scroller-bar-wrapper
                    .scroller-bar
          %section.cb-bet-list
            %h2.cb-h2 Предстоящие матчи
            .cb-bet-item
              .cb-flex-container.m-center
                .cb-greed
                  .cb-greed-15
                    %i.cb-icon.cb-r-icon.cb-icon-wot
                  .cb-greed-70
                    .cb-flex-container.m-center.m-1600
                      .cb-block-1600
                        %span.cb-bet-item-team Команда 1
                        .cb-bet-item-flag
                          %img{:alt => "", :src => "img/icons/team1.png"}
                        .cb-bet-item-date
                          .cb-bet-item-date-day 22 мая
                          .cb-bet-item-date-time 19:00
                        .cb-bet-item-flag
                          %img{:alt => "", :src => "img/icons/team2.png"}
                        %span.cb-bet-item-team Англия
                      .cb-block-1600
                        %button.cb-bet-item-label 2.10
                        %button.cb-bet-item-label 3.30
                        %button.cb-bet-item-label 3.25
                  .cb-greed-15
                    .cb-bet-item-lbl.cb-align-right
                      %span.cb-bet-item-ico 7
                      %span.fa.fa-user
                      %span.cb-bet-item-ico
                        %i.cb-i-arr-right
                      %span.cb-bet-item-ico.m-red 2
            .cb-bet-item
              .cb-flex-container.m-center
                .cb-greed
                  .cb-greed-15
                    %i.cb-icon.cb-r-icon.cb-icon-wot
                  .cb-greed-70
                    .cb-flex-container.m-center.m-1600
                      .cb-block-1600
                        %span.cb-bet-item-team Команда 1
                        .cb-bet-item-flag
                          %img{:alt => "", :src => "img/icons/team1.png"}
                        .cb-bet-item-date
                          .cb-bet-item-date-day 22 мая
                          .cb-bet-item-date-time 19:00
                        .cb-bet-item-flag
                          %img{:alt => "", :src => "img/icons/team2.png"}
                        %span.cb-bet-item-team Англия
                      .cb-block-1600
                        %button.cb-bet-item-label 2.10
                        %button.cb-bet-item-label 3.30
                        %button.cb-bet-item-label 3.25
                  .cb-greed-15
                    .cb-bet-item-lbl.cb-align-right
                      %span.cb-bet-item-ico.m-gray 7
                      %span.cb-bet-item-ico1.fa.fa-user.fa-user-dgray
                      %span.cb-bet-item-ico
                        %i.cb-i-arr-right.m-gray
                      %span.cb-bet-item-ico.m-green 2
            .cb-bet-item
              .cb-flex-container.m-center
                .cb-greed
                  .cb-greed-15
                    %i.cb-icon.cb-r-icon.cb-icon-wot
                  .cb-greed-70
                    .cb-flex-container.m-center.m-1600
                      .cb-block-1600
                        %span.cb-bet-item-team Команда 1
                        .cb-bet-item-flag
                          %img{:alt => "", :src => "img/icons/team1.png"}
                        .cb-bet-item-date
                          .cb-bet-item-date-day 22 мая
                          .cb-bet-item-date-time 19:00
                        .cb-bet-item-flag
                          %img{:alt => "", :src => "img/icons/team2.png"}
                        %span.cb-bet-item-team Англия
                      .cb-block-1600
                        %button.cb-bet-item-label 2.10
                        %button.cb-bet-item-label 3.30
                        %button.cb-bet-item-label 3.25
                  .cb-greed-15
                    .cb-bet-item-lbl.cb-align-right
                      %span.cb-bet-item-ico
                      %span.cb-bet-item-ico
                      %span.cb-bet-item-ico
                      %span.cb-bet-item-ico.m-black 2
            .cb-bet-item
              .cb-flex-container.m-center
                .cb-greed
                  .cb-greed-15
                    %i.cb-icon.cb-r-icon.cb-icon-wot
                  .cb-greed-70
                    .cb-flex-container.m-center.m-1600
                      .cb-block-1600
                        %span.cb-bet-item-team Команда 1
                        .cb-bet-item-flag
                          %img{:alt => "", :src => "img/icons/team1.png"}
                        .cb-bet-item-date
                          .cb-bet-item-date-day 22 мая
                          .cb-bet-item-date-time 19:00
                        .cb-bet-item-flag
                          %img{:alt => "", :src => "img/icons/team2.png"}
                        %span.cb-bet-item-team Англия
                      .cb-block-1600
                        %button.cb-bet-item-label 2.10
                        %button.cb-bet-item-label 3.30
                        %button.cb-bet-item-label 3.25
                  .cb-greed-15
                    .cb-bet-item-lbl.cb-align-right
                      %span.cb-bet-item-ico
                      %span.cb-bet-item-ico
                      %span.cb-bet-item-ico
                      %span.cb-bet-item-ico.m-black 2
            .cb-bet-item
              .cb-flex-container.m-center
                .cb-greed
                  .cb-greed-15
                    %i.cb-icon.cb-r-icon.cb-icon-wot
                  .cb-greed-70
                    .cb-flex-container.m-center.m-1600
                      .cb-block-1600
                        %span.cb-bet-item-team Команда 1
                        .cb-bet-item-flag
                          %img{:alt => "", :src => "img/icons/team1.png"}
                        .cb-bet-item-date
                          .cb-bet-item-date-day 22 мая
                          .cb-bet-item-date-time 19:00
                        .cb-bet-item-flag
                          %img{:alt => "", :src => "img/icons/team2.png"}
                        %span.cb-bet-item-team Англия
                      .cb-block-1600
                        %button.cb-bet-item-label 2.10
                        %button.cb-bet-item-label 3.30
                        %button.cb-bet-item-label 3.25
                  .cb-greed-15
                    .cb-bet-item-lbl.cb-align-right
                      %span.cb-bet-item-ico
                      %span.cb-bet-item-ico
                      %span.cb-bet-item-ico
                      %span.cb-bet-item-ico.m-black 2
            .cb-bet-item
              .cb-flex-container.m-center
                .cb-greed
                  .cb-greed-15
                    %i.cb-icon.cb-r-icon.cb-icon-wot
                  .cb-greed-70
                    .cb-flex-container.m-center.m-1600
                      .cb-block-1600
                        %span.cb-bet-item-team Команда 1
                        .cb-bet-item-flag
                          %img{:alt => "", :src => "img/icons/team1.png"}
                        .cb-bet-item-date
                          .cb-bet-item-date-day 22 мая
                          .cb-bet-item-date-time 19:00
                        .cb-bet-item-flag
                          %img{:alt => "", :src => "img/icons/team2.png"}
                        %span.cb-bet-item-team Англия
                      .cb-block-1600
                        %button.cb-bet-item-label 2.10
                        %button.cb-bet-item-label 3.30
                        %button.cb-bet-item-label 3.25
                  .cb-greed-15
                    .cb-bet-item-lbl.cb-align-right
                      %span.cb-bet-item-ico
                      %span.cb-bet-item-ico
                      %span.cb-bet-item-ico
                      %span.cb-bet-item-ico.m-black 2
            %h2.h2 Текущие матчи
            .cb-bet-item
              .cb-flex-container.m-center
                .cb-greed
                  .cb-greed-15
                    %i.cb-icon.cb-r-icon.cb-icon-wot
                  .cb-greed-70
                    .cb-flex-container.m-center.m-1600
                      .cb-block-1600
                        %span.cb-bet-item-team Команда 1
                        .cb-bet-item-flag
                          %img{:alt => "", :src => "img/icons/team1.png"}
                        .cb-bet-item-date
                          .cb-bet-item-date-day 22 мая
                          .cb-bet-item-date-time 19:00
                        .cb-bet-item-flag
                          %img{:alt => "", :src => "img/icons/team2.png"}
                        %span.cb-bet-item-team Англия
                      .cb-block-1600
                        %button.cb-bet-item-label 2.10
                        %button.cb-bet-item-label 3.30
                        %button.cb-bet-item-label 3.25
                  .cb-greed-15
                    .cb-bet-item-lbl.cb-align-right
                      %span.cb-bet-item-ico
                      %span.cb-bet-item-ico
                      %span.cb-bet-item-ico
                      %span.cb-bet-item-ico.m-black 2
            .cb-bet-item
              .cb-flex-container.m-center
                .cb-greed
                  .cb-greed-15
                    %i.cb-icon.cb-r-icon.cb-icon-wot
                  .cb-greed-70
                    .cb-flex-container.m-center.m-1600
                      .cb-block-1600
                        %span.cb-bet-item-team Команда 1
                        .cb-bet-item-flag
                          %img{:alt => "", :src => "img/icons/team1.png"}
                        .cb-bet-item-date
                          .cb-bet-item-date-day 22 мая
                          .cb-bet-item-date-time 19:00
                        .cb-bet-item-flag
                          %img{:alt => "", :src => "img/icons/team2.png"}
                        %span.cb-bet-item-team Англия
                      .cb-block-1600
                        %button.cb-bet-item-label 2.10
                        %button.cb-bet-item-label 3.30
                        %button.cb-bet-item-label 3.25
                  .cb-greed-15
                    .cb-bet-item-lbl.cb-align-right
                      %span.cb-bet-item-ico
                      %span.cb-bet-item-ico
                      %span.cb-bet-item-ico
                      %span.cb-bet-item-ico.m-black 2
            .cb-bet-item
              .cb-flex-container.m-center
                .cb-greed
                  .cb-greed-15
                    %i.cb-icon.cb-r-icon.cb-icon-wot
                  .cb-greed-70
                    .cb-flex-container.m-center.m-1600
                      .cb-block-1600
                        %span.cb-bet-item-team Команда 1
                        .cb-bet-item-flag
                          %img{:alt => "", :src => "img/icons/team1.png"}
                        .cb-bet-item-date
                          .cb-bet-item-date-day 22 мая
                          .cb-bet-item-date-time 19:00
                        .cb-bet-item-flag
                          %img{:alt => "", :src => "img/icons/team2.png"}
                        %span.cb-bet-item-team Англия
                      .cb-block-1600
                        %button.cb-bet-item-label 2.10
                        %button.cb-bet-item-label 3.30
                        %button.cb-bet-item-label 3.25
                  .cb-greed-15
                    .cb-bet-item-lbl.cb-align-right
                      %span.cb-bet-item-ico
                      %span.cb-bet-item-ico
                      %span.cb-bet-item-ico
                      %span.cb-bet-item-ico.m-black 2
            .cb-bet-item
              .cb-flex-container.m-center
                .cb-greed
                  .cb-greed-15
                    %i.cb-icon.cb-r-icon.cb-icon-wot
                  .cb-greed-70
                    .cb-flex-container.m-center.m-1600
                      .cb-block-1600
                        %span.cb-bet-item-team Команда 1
                        .cb-bet-item-flag
                          %img{:alt => "", :src => "img/icons/team1.png"}
                        .cb-bet-item-date
                          .cb-bet-item-date-day 22 мая
                          .cb-bet-item-date-time 19:00
                        .cb-bet-item-flag
                          %img{:alt => "", :src => "img/icons/team2.png"}
                        %span.cb-bet-item-team Англия
                      .cb-block-1600
                        %button.cb-bet-item-label 2.10
                        %button.cb-bet-item-label 3.30
                        %button.cb-bet-item-label 3.25
                  .cb-greed-15
                    .cb-bet-item-lbl.cb-align-right
                      %span.cb-bet-item-ico
                      %span.cb-bet-item-ico
                      %span.cb-bet-item-ico
                      %span.cb-bet-item-ico.m-black 2
            .cb-bet-item
              .cb-flex-container.m-center
                .cb-greed
                  .cb-greed-15
                    %i.cb-icon.cb-r-icon.cb-icon-wot
                  .cb-greed-70
                    .cb-flex-container.m-center.m-1600
                      .cb-block-1600
                        %span.cb-bet-item-team Команда 1
                        .cb-bet-item-flag
                          %img{:alt => "", :src => "img/icons/team1.png"}
                        .cb-bet-item-date
                          .cb-bet-item-date-day 22 мая
                          .cb-bet-item-date-time 19:00
                        .cb-bet-item-flag
                          %img{:alt => "", :src => "img/icons/team2.png"}
                        %span.cb-bet-item-team Англия
                      .cb-block-1600
                        %button.cb-bet-item-label 2.10
                        %button.cb-bet-item-label 3.30
                        %button.cb-bet-item-label 3.25
                  .cb-greed-15
                    .cb-bet-item-lbl.cb-align-right
                      %span.cb-bet-item-ico
                      %span.cb-bet-item-ico
                      %span.cb-bet-item-ico
                      %span.cb-bet-item-ico.m-black 2
            .cb-bet-item
              .cb-flex-container.m-center
                .cb-greed
                  .cb-greed-15
                    %i.cb-icon.cb-r-icon.cb-icon-wot
                  .cb-greed-70
                    .cb-flex-container.m-center.m-1600
                      .cb-block-1600
                        %span.cb-bet-item-team Команда 1
                        .cb-bet-item-flag
                          %img{:alt => "", :src => "img/icons/team1.png"}
                        .cb-bet-item-date
                          .cb-bet-item-date-day 22 мая
                          .cb-bet-item-date-time 19:00
                        .cb-bet-item-flag
                          %img{:alt => "", :src => "img/icons/team2.png"}
                        %span.cb-bet-item-team Англия
                      .cb-block-1600
                        %button.cb-bet-item-label 2.10
                        %button.cb-bet-item-label 3.30
                        %button.cb-bet-item-label 3.25
                  .cb-greed-15
                    .cb-bet-item-lbl.cb-align-right
                      %span.cb-bet-item-ico
                      %span.cb-bet-item-ico
                      %span.cb-bet-item-ico
                      %span.cb-bet-item-ico.m-black 2
            .payment
              %i.payment-3
              %i.payment-2
              %i.payment-1
            .cb-translation
              .cb-translation-play
                %a{:href => "#"}
                  %i.fa.fa-play-circle
                  %span
                    Трансляции:
                    %span.cb-translation-match Англия - Голландия
              %i.fa.fa-chevron-circle-up.js-translation
          %section.cb-selection-rates
            .cb-selection-rates.cb-selection-rates-tabs
              %ul.nav.nav-tabs{:role => "tablist"}
                %li.active
                  %a{"data-toggle" => "tab", :href => "#home", :role => "tab"} Home
                %li
                  %a{"data-toggle" => "tab", :href => "#profile", :role => "tab"} Profile
              .tab-content
                #home.tab-pane.fade.in.active
                  .cb-rate
                    .cb-rate-top
                      .cb-rate-top-title Эрмис -АПОЭЛ
                      %i.cb-rate-close.fa.fa-close
                    .cb-rate-row
                      %span Ставки (основное время)
                    .cb-rate-row
                      .cb-rate-label.m-left
                        %span Исход: Ничья
                      .cb-rate-label.m-right
                        %span.cb-rate-label-note k
                        %input.cb-rate-input.form-control{:type => "text", :value => "3.25"}
                    .cb-rate-row
                      .cb-rate-label.m-left.m-small
                        %span Ставка:
                      .cb-rate-label.m-right
                        .btn-group{"data-toggle" => "buttons"}
                          %label.cb-btn-my.btn.btn-primary.active
                            %input#option1{:checked => "", :name => "options", :type => "radio"}
                              %i.fa.fa-usd
                          %label.cb-btn-my.btn.btn-primary
                            %input#option2{:name => "options", :type => "radio"}
                              %i.fa.fa-database
                        .cb-sort
                          %input.cb-rate-input.form-control{:type => "text", :value => "5"}
                            %i.cb-sort-up.fa.fa-sort-up
                            %i.cb-sort-down.fa.fa-sort-desc
                  .cb-rate
                    .cb-rate-top
                      .cb-rate-top-title Эрмис -АПОЭЛ
                      %i.cb-rate-close.fa.fa-close
                    .cb-rate-row
                      %span Ставки (основное время)
                    .cb-rate-row
                      .cb-rate-label.m-left
                        %span Исход: Ничья
                      .cb-rate-label.m-right
                        %span.cb-rate-label-note k
                        %input.cb-rate-input.form-control{:type => "text", :value => "3.25"}
                    .cb-rate-row
                      .cb-rate-label.m-left.m-small
                        %span Ставка:
                      .cb-rate-label.m-right
                        .btn-group{"data-toggle" => "buttons"}
                          %label.cb-btn-my.btn.btn-primary.active
                            %input#option1{:checked => "", :name => "options", :type => "radio"}
                              %i.fa.fa-usd
                          %label.cb-btn-my.btn.btn-primary
                            %input#option2{:name => "options", :type => "radio"}
                              %i.fa.fa-database
                        .cb-sort
                          %input.cb-rate-input.form-control{:type => "text", :value => "5"}
                            %i.cb-sort-up.fa.fa-sort-up
                            %i.cb-sort-down.fa.fa-sort-desc
                  .cb-rate
                    .cb-rate-row
                      .cb-rate-label.m-left
                        %span Ставка:
                      .cb-rate-label.m-right
                        %span
                          %p
                            %strong 2
                    .cb-rate-row
                      .cb-rate-label.m-left
                        %span Вся ставка:
                      .cb-rate-label.m-right
                        %span
                          %p
                            %strong 10.00
                    .cb-rate-row
                      .cb-rate-label.m-long.m-left
                        %span Возможная выплата:
                      .cb-rate-label.m-right
                        %span
                          %p
                            %strong $ 33.50
                    .cb-rate-row.m-mod
                      .cb-rate-label.m-left.m-small
                        %a.cb-rate-reset{:href => "#"} Очистить
                      .cb-rate-label.m-right
                        %a.btn.btn-danger{:href => "#"} Подтвердить
                #profile.tab-pane.fade
                  .cb-rate
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque laudantium, laboriosam autem recusandae doloribus facilis soluta id voluptatem modi quidem amet dicta excepturi ullam, aspernatur veritatis incidunt ipsam assumenda aliquid!
          %section.cb-bet-panel.m-mod
            .cb-shares
              %p
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus excepturi explicabo hic temporibus, rerum obcaecati fugiat nesciunt repellendus earum laudantium fugit perferendis accusamus repellat officiis itaque iste optio minus veritatis. Error assumenda corporis nisi a, tenetur culpa. Saepe sit aliquam veniam sequi repellendus labore deserunt ab voluptas sapiente eaque voluptatum neque eligendi vel incidunt eius, ullam quibusdam. Et at ipsum libero enim distinctio architecto reprehenderit quia, esse dolores? Laboriosam in, minima reiciendis libero recusandae itaque necessitatibus, fugit laborum. Quibusdam quo sunt facere, adipisci fugiat temporibus. Voluptates eligendi laborum rem, laudantium, nemo cum sapiente facilis doloribus ratione fugiat quam accusamus iste?
              %p
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor numquam aperiam, aut, incidunt neque in quod impedit saepe suscipit perferendis, doloribus debitis dignissimos, sit laborum laudantium ipsa odio veniam aspernatur eos quisquam rem nihil aliquam odit. Repellat asperiores cumque ipsam debitis? Voluptatibus maxime consectetur expedita! Aperiam cum illum, iste libero nostrum repudiandae ullam, consequuntur nam cupiditate corporis voluptatum dolor quia id, laborum tempore recusandae et est illo debitis! Voluptate fuga accusamus inventore deleniti adipisci animi error, consectetur, non rem quis ipsa, magni, repellat laboriosam repellendus nisi impedit! Nisi error dolorum necessitatibus eum minus. Nostrum tempore eligendi ratione. Culpa, veritatis perferendis qui quam adipisci? Perferendis neque, ullam eveniet ex. Odio qui sint voluptatibus blanditiis minus excepturi quod exercitationem, fuga voluptatem sequi quo sed delectus, error laboriosam corrupti expedita dicta tempore voluptate nulla atque. Architecto eos dolor ipsum, hic enim nobis blanditiis facilis sint dolore in quae temporibus omnis odit corrupti necessitatibus aut, labore nemo cupiditate, deleniti ab! Optio sequi accusamus, tempora, sit vitae quasi, error doloribus quaerat ad nemo architecto temporibus nesciunt nulla ipsam voluptatem qui impedit ab natus culpa debitis corporis libero perspiciatis nihil nobis minima. Error maxime iusto, necessitatibus eveniet quod ducimus quibusdam, consectetur deserunt, voluptates nostrum sunt voluptate impedit reiciendis mollitia velit at ipsum, a ut quos laboriosam! Quasi fugiat ea maiores facere ipsum ipsa molestiae et voluptatibus perspiciatis ducimus. Quidem eos cum quaerat deserunt qui autem reprehenderit eligendi magni aliquam aperiam delectus, iste dicta repellat placeat enim assumenda rem quisquam maiores modi, vitae facilis. Blanditiis exercitationem veritatis odit dignissimos praesentium atque dolore sunt deleniti eius quis dolor totam, nemo repellendus aspernatur iste. Sunt architecto eligendi vero voluptas facere reiciendis maiores tempore ad ea minus iusto ipsum officia quae temporibus nobis voluptatibus, accusantium rerum. Maiores esse itaque perferendis cupiditate et nam cumque ut quia? Sequi dolore adipisci accusamus recusandae earum temporibus cupiditate fuga placeat ratione laborum. Esse labore numquam illum reiciendis accusantium! Reprehenderit, excepturi cupiditate voluptates, quisquam aperiam optio eius veniam quod! Eaque, suscipit dolore veniam, doloremque expedita alias iure cum reprehenderit assumenda sed! Ratione provident laboriosam id sed non quisquam incidunt deleniti sint ut ipsa nulla, ex soluta nam, impedit, mollitia, beatae tempore quos! Iure consequuntur vitae ipsum laborum facilis voluptates dolorum! Nulla numquam ut dicta praesentium. Deserunt ea saepe rerum amet ut similique harum possimus accusantium, placeat. Rem quidem doloremque mollitia dignissimos delectus officia molestias error pariatur, esse harum nesciunt iusto amet enim, temporibus veritatis sit. Voluptate sapiente architecto neque aut quia dolore voluptates hic esse fugiat illo minima a eum possimus quo, ducimus nesciunt praesentium natus et voluptatem quasi dolorum earum magni. Eius modi enim nam quibusdam rem, quidem? Odit ipsa commodi, enim magnam molestias laudantium, ullam quidem fugiat autem! Fuga velit harum vel quae itaque laudantium alias labore voluptates necessitatibus sint magnam, illo magni sed quod assumenda eligendi debitis vero voluptatem corrupti, repudiandae asperiores! Ab dolore ullam delectus maiores dolor error fuga saepe tempore cupiditate eligendi ad enim sapiente reprehenderit id minima nostrum facilis neque, placeat adipisci, numquam doloribus maxime? Vitae maxime, veniam quod.
            .cb-chat
              .cb-chat-fixed.js-chat-set-height
                .cb-chat-topper
                  %span.cb-chat-topper-title.h2.h2_white Dota 2
                  %span.cb-chat-topper-icons
                    %i.fa.fa-cog
                    %i.fa.fa-user
                    %i.fa.fa-close.js-chat-close
                .cb-chat-in.js-chat-set-height2
                  .baron-wrap.js-baron
                    .scroller
                      .baron-text
                        .cb-chat-item
                          .cb-chat-item-title 3apy:
                          .cb-chat-item-content
                            %p А как в следующих патчах порежут котов?
                        .cb-chat-item
                          .cb-chat-item-title Basalt_ru:
                          .cb-chat-item-content
                            %p Просто кот почти платина, а бм серебро, этим всё сказано )
                        .cb-chat-item
                          .cb-chat-item-title HungryCutie:
                          .cb-chat-item-content
                            %p Мне чат разблокировали
                        .cb-chat-item
                          .cb-chat-item-title 3apy:
                          .cb-chat-item-content
                            %p А как в следующих патчах порежут котов?
                        .cb-chat-item
                          .cb-chat-item-title Basalt_ru:
                          .cb-chat-item-content
                            %p Просто кот почти платина, а бм серебро, этим всё сказано )
                        .cb-chat-item
                          .cb-chat-item-title HungryCutie:
                          .cb-chat-item-content
                            %p Мне чат разблокировали
                        .cb-chat-item
                          .cb-chat-item-title 3apy:
                          .cb-chat-item-content
                            %p А как в следующих патчах порежут котов?
                        .cb-chat-item
                          .cb-chat-item-title Basalt_ru:
                          .cb-chat-item-content
                            %p Просто кот почти платина, а бм серебро, этим всё сказано )
                        .cb-chat-item
                          .cb-chat-item-title HungryCutie:
                          .cb-chat-item-content
                            %p Мне чат разблокировали
                        .cb-chat-item
                          .cb-chat-item-title 3apy:
                          .cb-chat-item-content
                            %p А как в следующих патчах порежут котов?
                        .cb-chat-item
                          .cb-chat-item-title Basalt_ru:
                          .cb-chat-item-content
                            %p Просто кот почти платина, а бм серебро, этим всё сказано )
                        .cb-chat-item
                          .cb-chat-item-title HungryCutie:
                          .cb-chat-item-content
                            %p Мне чат разблокировали
                        .cb-chat-item
                          .cb-chat-item-title 3apy:
                          .cb-chat-item-content
                            %p А как в следующих патчах порежут котов?
                        .cb-chat-item
                          .cb-chat-item-title Basalt_ru:
                          .cb-chat-item-content
                            %p Просто кот почти платина, а бм серебро, этим всё сказано )
                        .cb-chat-item
                          .cb-chat-item-title HungryCutie:
                          .cb-chat-item-content
                            %p Мне чат разблокировали
                        .cb-chat-item
                          .cb-chat-item-title 3apy:
                          .cb-chat-item-content
                            %p А как в следующих патчах порежут котов?
                        .cb-chat-item
                          .cb-chat-item-title Basalt_ru:
                          .cb-chat-item-content
                            %p Просто кот почти платина, а бм серебро, этим всё сказано )
                        .cb-chat-item
                          .cb-chat-item-title HungryCutie:
                          .cb-chat-item-content
                            %p Мне чат разблокировали
                        .cb-chat-item
                          .cb-chat-item-title 3apy:
                          .cb-chat-item-content
                            %p А как в следующих патчах порежут котов?
                        .cb-chat-item
                          .cb-chat-item-title Basalt_ru:
                          .cb-chat-item-content
                            %p Просто кот почти платина, а бм серебро, этим всё сказано )
                        .cb-chat-item
                          .cb-chat-item-title HungryCutie:
                          .cb-chat-item-content
                            %p Мне чат разблокировали
                        .cb-chat-item
                          .cb-chat-item-title 3apy:
                          .cb-chat-item-content
                            %p А как в следующих патчах порежут котов?
                        .cb-chat-item
                          .cb-chat-item-title Basalt_ru:
                          .cb-chat-item-content
                            %p Просто кот почти платина, а бм серебро, этим всё сказано )
                        .cb-chat-item
                          .cb-chat-item-title HungryCutie:
                          .cb-chat-item-content
                            %p Мне чат разблокировали
                        .cb-chat-item
                          .cb-chat-item-title 3apy:
                          .cb-chat-item-content
                            %p А как в следующих патчах порежут котов?
                        .cb-chat-item
                          .cb-chat-item-title Basalt_ru:
                          .cb-chat-item-content
                            %p Просто кот почти платина, а бм серебро, этим всё сказано )
                        .cb-chat-item
                          .cb-chat-item-title HungryCutie:
                          .cb-chat-item-content
                            %p Мне чат разблокировали
                        .cb-chat-item
                          .cb-chat-item-title 3apy:
                          .cb-chat-item-content
                            %p А как в следующих патчах порежут котов?
                        .cb-chat-item
                          .cb-chat-item-title Basalt_ru:
                          .cb-chat-item-content
                            %p Просто кот почти платина, а бм серебро, этим всё сказано )
                        .cb-chat-item
                          .cb-chat-item-title HungryCutie:
                          .cb-chat-item-content
                            %p Мне чат разблокировали
                        .cb-chat-item
                          .cb-chat-item-title 3apy:
                          .cb-chat-item-content
                            %p А как в следующих патчах порежут котов?
                        .cb-chat-item
                          .cb-chat-item-title Basalt_ru:
                          .cb-chat-item-content
                            %p Просто кот почти платина, а бм серебро, этим всё сказано )
                        .cb-chat-item
                          .cb-chat-item-title HungryCutie:
                          .cb-chat-item-content
                            %p Мне чат разблокировали
                        .cb-chat-item
                          .cb-chat-item-title 3apy:
                          .cb-chat-item-content
                            %p А как в следующих патчах порежут котов?
                        .cb-chat-item
                          .cb-chat-item-title Basalt_ru:
                          .cb-chat-item-content
                            %p Просто кот почти платина, а бм серебро, этим всё сказано )
                        .cb-chat-item
                          .cb-chat-item-title HungryCutie:
                          .cb-chat-item-content
                            %p Мне чат разблокировали
                        .cb-chat-item
                          .cb-chat-item-title 3apy:
                          .cb-chat-item-content
                            %p А как в следующих патчах порежут котов?
                        .cb-chat-item
                          .cb-chat-item-title Basalt_ru:
                          .cb-chat-item-content
                            %p Просто кот почти платина, а бм серебро, этим всё сказано )
                        .cb-chat-item
                          .cb-chat-item-title HungryCutie:
                          .cb-chat-item-content
                            %p Мне чат разблокировали
                        .cb-chat-item
                          .cb-chat-item-title 3apy:
                          .cb-chat-item-content
                            %p А как в следующих патчах порежут котов?
                        .cb-chat-item
                          .cb-chat-item-title Basalt_ru:
                          .cb-chat-item-content
                            %p Просто кот почти платина, а бм серебро, этим всё сказано )
                        .cb-chat-item
                          .cb-chat-item-title HungryCutie:
                          .cb-chat-item-content
                            %p Мне чат разблокировали
                        .cb-chat-item
                          .cb-chat-item-title 3apy:
                          .cb-chat-item-content
                            %p А как в следующих патчах порежут котов?
                        .cb-chat-item
                          .cb-chat-item-title Basalt_ru:
                          .cb-chat-item-content
                            %p Просто кот почти платина, а бм серебро, этим всё сказано )
                        .cb-chat-item
                          .cb-chat-item-title HungryCutie:
                          .cb-chat-item-content
                            %p Мне чат разблокировали
                        .cb-chat-item
                          .cb-chat-item-title 3apy:
                          .cb-chat-item-content
                            %p А как в следующих патчах порежут котов?
                        .cb-chat-item
                          .cb-chat-item-title Basalt_ru:
                          .cb-chat-item-content
                            %p Просто кот почти платина, а бм серебро, этим всё сказано )
                        .cb-chat-item
                          .cb-chat-item-title HungryCutie:
                          .cb-chat-item-content
                            %p Мне чат разблокировали
                        .cb-chat-item
                          .cb-chat-item-title 3apy:
                          .cb-chat-item-content
                            %p А как в следующих патчах порежут котов?
                        .cb-chat-item
                          .cb-chat-item-title Basalt_ru:
                          .cb-chat-item-content
                            %p Просто кот почти платина, а бм серебро, этим всё сказано )
                        .cb-chat-item
                          .cb-chat-item-title HungryCutie:
                          .cb-chat-item-content
                            %p Мне чат разблокировали
                        .cb-chat-item
                          .cb-chat-item-title 3apy:
                          .cb-chat-item-content
                            %p А как в следующих патчах порежут котов?
                        .cb-chat-item
                          .cb-chat-item-title Basalt_ru:
                          .cb-chat-item-content
                            %p Просто кот почти платина, а бм серебро, этим всё сказано )
                        .cb-chat-item
                          .cb-chat-item-title HungryCutie:
                          .cb-chat-item-content
                            %p Мне чат разблокировали
                        .cb-chat-item
                          .cb-chat-item-title 3apy:
                          .cb-chat-item-content
                            %p А как в следующих патчах порежут котов?
                        .cb-chat-item
                          .cb-chat-item-title Basalt_ru:
                          .cb-chat-item-content
                            %p Просто кот почти платина, а бм серебро, этим всё сказано )
                        .cb-chat-item
                          .cb-chat-item-title HungryCutie:
                          .cb-chat-item-content
                            %p Мне чат разблокировали
                        .cb-chat-item
                          .cb-chat-item-title 3apy:
                          .cb-chat-item-content
                            %p А как в следующих патчах порежут котов?
                        .cb-chat-item
                          .cb-chat-item-title Basalt_ru:
                          .cb-chat-item-content
                            %p Просто кот почти платина, а бм серебро, этим всё сказано )
                        .cb-chat-item
                          .cb-chat-item-title HungryCutie:
                          .cb-chat-item-content
                            %p 11111111Мне чат разблокировали
                        .load
                          .load-value
                    .scroller-bar-wrapper
                      .scroller-bar
                  .cb-chat-textarea-wrap
                    %textarea.cb-chat-textarea{:placeholder => "Введите сообщение"}
                    %i.cb-chat-textarea-smile.fa.fa-smile-o
                    %i.cb-chat-textarea-cross.fa.fa-close
                  .cb-chat-btn
                    %a.cb-chat-enter.btn.js-popup-link{:href => "js-popup-reg"} Войти в чат
                    %a.cb-chat-update.btn.js-popup-link{:href => "js-popup-enter"} Обновить
    %script{"data-headjs-load" => "js/init.js", :src => "js/lib/head.js"}