section.cb-totalisator.m-bet
  .cb-totalisator-in
    .cb-bet-item.m-normal
      .cb-flex-container.m-center
        .cb-greed
          .cb-greed-15
            i.cb-icon.cb-r-icon.cb-icon-wot
          .cb-greed-70.align-center
            span.cb-bet-item-team Команда 1 Англия Англия Англия
            .cb-bet-item-flag
              img(src='img/icons/team1.png', alt='')
            .cb-bet-item-date
              .cb-bet-item-date-day 22 мая
              .cb-bet-item-date-time 19:00
            .cb-bet-item-flag
              img(src='img/icons/team2.png', alt='')
            span.cb-bet-item-team Англия Англия Англия Англия
          .cb-greed-15.align-right
            .cb-bet-item-lbl
              span.cb-bet-item-ico.cb-bet-item-ico1
              span.cb-bet-item-ico.cb-bet-item-ico1
    .js-accordion
      .cb-totalisator-item.js-accordion__item
        .cb-ante
          .cb-ante-top.js-accordion-title Двойной результат
          .cb-ante-content.js-accordion-content
            .cb-ante-content-row
              h4.cb-ante-content-title
                span.cb-ante-content-heading Голландия
                button.label.cb-label-info 1.60
            .cb-ante-content-row
              h4.cb-ante-content-title
                span.cb-ante-content-heading Ничья
                button.label.cb-label-info 3.90
            .cb-ante-content-row
              h4.cb-ante-content-title
                span.cb-ante-content-heading Англия
                button.label.cb-label-info 5.10
      .cb-totalisator-item.js-accordion__item
        .cb-ante
          .cb-ante-top.js-accordion-title Б/М 0,5 гола
          .cb-ante-content.js-accordion-content
            .cb-ante-content-row
              h4.cb-ante-content-title
                span.cb-ante-content-heading Голландия
                button.label.cb-label-info 1.60
            .cb-ante-content-row
              h4.cb-ante-content-title
                span.cb-ante-content-heading Ничья
                button.label.cb-label-info 3.90
            .cb-ante-content-row
              h4.cb-ante-content-title
                span.cb-ante-content-heading Англия
                button.label.cb-label-info 5.10
      .cb-totalisator-item.js-accordion__item
        .cb-ante
          .cb-ante-top.js-accordion-title Двойной результат
          .cb-ante-content.js-accordion-content
            .cb-ante-content-row
              h4.cb-ante-content-title
                span.cb-ante-content-heading Голландия
                button.label.cb-label-info 1.60
            .cb-ante-content-row
              h4.cb-ante-content-title
                span.cb-ante-content-heading Ничья
                button.label.cb-label-info 3.90
            .cb-ante-content-row
              h4.cb-ante-content-title
                span.cb-ante-content-heading Англия
                button.label.cb-label-info 5.10
      .cb-totalisator-item.js-accordion__item
        .cb-ante
          .cb-ante-top.js-accordion-title Б/М 0,5 гола
          .cb-ante-content.js-accordion-content
            .cb-ante-content-row
              h4.cb-ante-content-title
                span.cb-ante-content-heading Голландия
                button.label.cb-label-info 1.60
            .cb-ante-content-row
              h4.cb-ante-content-title
                span.cb-ante-content-heading Ничья
                button.label.cb-label-info 3.90
            .cb-ante-content-row
              h4.cb-ante-content-title
                span.cb-ante-content-heading Англия
                button.label.cb-label-info 5.10
      .cb-totalisator-item.js-accordion__item
        .cb-ante
          .cb-ante-top.js-accordion-title Двойной результат
          .cb-ante-content.js-accordion-content
            .cb-ante-content-row
              h4.cb-ante-content-title
                span.cb-ante-content-heading Голландия
                button.label.cb-label-info 1.60
            .cb-ante-content-row
              h4.cb-ante-content-title
                span.cb-ante-content-heading Ничья
                button.label.cb-label-info 3.90
            .cb-ante-content-row
              h4.cb-ante-content-title
                span.cb-ante-content-heading Англия
                button.label.cb-label-info 5.10
      .cb-totalisator-item.js-accordion__item
        .cb-ante
          .cb-ante-top.js-accordion-title Б/М 0,5 гола
          .cb-ante-content.js-accordion-content
            .cb-ante-content-row
              h4.cb-ante-content-title
                span.cb-ante-content-heading Голландия
                button.label.cb-label-info 1.60
            .cb-ante-content-row
              h4.cb-ante-content-title
                span.cb-ante-content-heading Ничья
                button.label.cb-label-info 3.90
            .cb-ante-content-row
              h4.cb-ante-content-title
                span.cb-ante-content-heading Англия
                button.label.cb-label-info 5.10
      .cb-totalisator-item.js-accordion__item
        .cb-ante
          .cb-ante-top.js-accordion-title Двойной результат
          .cb-ante-content.js-accordion-content
            .cb-ante-content-row
              h4.cb-ante-content-title
                span.cb-ante-content-heading Голландия
                button.label.cb-label-info 1.60
            .cb-ante-content-row
              h4.cb-ante-content-title
                span.cb-ante-content-heading Ничья
                button.label.cb-label-info 3.90
            .cb-ante-content-row
              h4.cb-ante-content-title
                span.cb-ante-content-heading Англия
                button.label.cb-label-info 5.10
      .cb-totalisator-item.js-accordion__item
        .cb-ante
          .cb-ante-top.js-accordion-title Б/М 0,5 гола
          .cb-ante-content.js-accordion-content
            .cb-ante-content-row
              h4.cb-ante-content-title
                span.cb-ante-content-heading Голландия
                button.label.cb-label-info 1.60
            .cb-ante-content-row
              h4.cb-ante-content-title
                span.cb-ante-content-heading Ничья
                button.label.cb-label-info 3.90
            .cb-ante-content-row
              h4.cb-ante-content-title
                span.cb-ante-content-heading Англия
                button.label.cb-label-info 5.10
      .cb-totalisator-item.js-accordion__item
        .cb-ante
          .cb-ante-top.js-accordion-title Двойной результат
          .cb-ante-content.js-accordion-content
            .cb-ante-content-row
              h4.cb-ante-content-title
                span.cb-ante-content-heading Голландия
                button.label.cb-label-info 1.60
            .cb-ante-content-row
              h4.cb-ante-content-title
                span.cb-ante-content-heading Ничья
                button.label.cb-label-info 3.90
            .cb-ante-content-row
              h4.cb-ante-content-title
                span.cb-ante-content-heading Англия
                button.label.cb-label-info 5.10
