nav.cb-nav.cb-nav-filter
  ul
    li
      a.cb-icon.cb-r-icon.cb-icon-dota2(href='#')
    li
      a.cb-icon.cb-r-icon.cb-icon-cs(href='#')
    li.active
      a.cb-icon.cb-r-icon.cb-icon-wot(href='#')
    li
      a.cb-icon.cb-r-icon.cb-icon-to(href='#')
    li
      a.cb-icon.cb-r-icon.cb-icon-pb(href='#')