section.cb-news.m-mod
  .cb-news-in
    .cb-news-top
      .cb-news-top-title Информация
    .cb-news-in
      .cb-news-list
        ul.cb-news-list-ul
          li.cb-news-list-item.is-active
            span.cb-news-list-descr Всего участников:
            span.cb-news-list-num 568
          li.cb-news-list-item
            span.cb-news-list-descr Кол-во учатсников:
            span.cb-news-list-num 22
          li.cb-news-list-item
            span.cb-news-list-descr Призовой фонд:
            span.cb-news-list-num $ 25
          li.cb-news-list-item
            span.cb-news-list-descr Цена участия:
            span.cb-news-list-num $ 15
          li.cb-news-list-item
            span.cb-news-list-descr Длинный длинный пункт:
            span.cb-news-list-num $ 15

section.cb-news
  .cb-news-in
    .cb-news-in
      .cb-news-koef
        ul.cb-news-koef-ul
          li.cb-news-koef-item
            span.cb-news-koef-meta Хозяева:
            span.cb-news-koef-btn 
              button.label.cb-label-info 3.25
          li.cb-news-koef-item
            span.cb-news-koef-meta Ничья:
            span.cb-news-koef-btn 
              button.label.cb-label-info 3.25
          li.cb-news-koef-item
            span.cb-news-koef-meta Гости:
            span.cb-news-koef-btn 
              button.label.cb-label-info 3.25


