section.cb-bet-list
  h2.cb-h2 Предстоящие матчи
  .cb-bet-item
    .cb-flex-container.m-center
      .cb-greed
        .cb-greed-15
          i.cb-icon.cb-r-icon.cb-icon-wot
        .cb-greed-70
          .cb-flex-container.m-center.m-1600
            .cb-block-1600
              span.cb-bet-item-team Команда 1
              .cb-bet-item-flag
                img(alt='', src='img/icons/team1.png')
              .cb-bet-item-date
                .cb-bet-item-date-day 22 мая
                .cb-bet-item-date-time 19:00
              .cb-bet-item-flag
                img(alt='', src='img/icons/team2.png')
              span.cb-bet-item-team Англия
            .cb-block-1600
              button.cb-bet-item-label 2.10
              button.cb-bet-item-label 3.30
              button.cb-bet-item-label 3.25
        .cb-greed-15
          .cb-bet-item-lbl.cb-align-right
            span.cb-bet-item-ico 7
            span.fa.fa-user
            span.cb-bet-item-ico
              i.cb-i-arr-right
            span.cb-bet-item-ico.m-red 2
  .cb-bet-item
    .cb-flex-container.m-center
      .cb-greed
        .cb-greed-15
          i.cb-icon.cb-r-icon.cb-icon-wot
        .cb-greed-70
          .cb-flex-container.m-center.m-1600
            .cb-block-1600
              span.cb-bet-item-team Команда 1
              .cb-bet-item-flag
                img(alt='', src='img/icons/team1.png')
              .cb-bet-item-date
                .cb-bet-item-date-day 22 мая
                .cb-bet-item-date-time 19:00
              .cb-bet-item-flag
                img(alt='', src='img/icons/team2.png')
              span.cb-bet-item-team Англия
            .cb-block-1600
              button.cb-bet-item-label 2.10
              button.cb-bet-item-label 3.30
              button.cb-bet-item-label 3.25
        .cb-greed-15
          .cb-bet-item-lbl.cb-align-right
            span.cb-bet-item-ico.m-gray 7
            span.cb-bet-item-ico1.fa.fa-user.fa-user-dgray
            span.cb-bet-item-ico
              i.cb-i-arr-right.m-gray
            span.cb-bet-item-ico.m-green 2
  .cb-bet-item
    .cb-flex-container.m-center
      .cb-greed
        .cb-greed-15
          i.cb-icon.cb-r-icon.cb-icon-wot
        .cb-greed-70
          .cb-flex-container.m-center.m-1600
            .cb-block-1600
              span.cb-bet-item-team Команда 1
              .cb-bet-item-flag
                img(alt='', src='img/icons/team1.png')
              .cb-bet-item-date
                .cb-bet-item-date-day 22 мая
                .cb-bet-item-date-time 19:00
              .cb-bet-item-flag
                img(alt='', src='img/icons/team2.png')
              span.cb-bet-item-team Англия
            .cb-block-1600
              button.cb-bet-item-label 2.10
              button.cb-bet-item-label 3.30
              button.cb-bet-item-label 3.25
        .cb-greed-15
          .cb-bet-item-lbl.cb-align-right
            span.cb-bet-item-ico
            span.cb-bet-item-ico
            span.cb-bet-item-ico
            span.cb-bet-item-ico.m-black 2
  .cb-bet-item
    .cb-flex-container.m-center
      .cb-greed
        .cb-greed-15
          i.cb-icon.cb-r-icon.cb-icon-wot
        .cb-greed-70
          .cb-flex-container.m-center.m-1600
            .cb-block-1600
              span.cb-bet-item-team Команда 1
              .cb-bet-item-flag
                img(alt='', src='img/icons/team1.png')
              .cb-bet-item-date
                .cb-bet-item-date-day 22 мая
                .cb-bet-item-date-time 19:00
              .cb-bet-item-flag
                img(alt='', src='img/icons/team2.png')
              span.cb-bet-item-team Англия
            .cb-block-1600
              button.cb-bet-item-label 2.10
              button.cb-bet-item-label 3.30
              button.cb-bet-item-label 3.25
        .cb-greed-15
          .cb-bet-item-lbl.cb-align-right
            span.cb-bet-item-ico
            span.cb-bet-item-ico
            span.cb-bet-item-ico
            span.cb-bet-item-ico.m-black 2
  .cb-bet-item
    .cb-flex-container.m-center
      .cb-greed
        .cb-greed-15
          i.cb-icon.cb-r-icon.cb-icon-wot
        .cb-greed-70
          .cb-flex-container.m-center.m-1600
            .cb-block-1600
              span.cb-bet-item-team Команда 1
              .cb-bet-item-flag
                img(alt='', src='img/icons/team1.png')
              .cb-bet-item-date
                .cb-bet-item-date-day 22 мая
                .cb-bet-item-date-time 19:00
              .cb-bet-item-flag
                img(alt='', src='img/icons/team2.png')
              span.cb-bet-item-team Англия
            .cb-block-1600
              button.cb-bet-item-label 2.10
              button.cb-bet-item-label 3.30
              button.cb-bet-item-label 3.25
        .cb-greed-15
          .cb-bet-item-lbl.cb-align-right
            span.cb-bet-item-ico
            span.cb-bet-item-ico
            span.cb-bet-item-ico
            span.cb-bet-item-ico.m-black 2
  .cb-bet-item
    .cb-flex-container.m-center
      .cb-greed
        .cb-greed-15
          i.cb-icon.cb-r-icon.cb-icon-wot
        .cb-greed-70
          .cb-flex-container.m-center.m-1600
            .cb-block-1600
              span.cb-bet-item-team Команда 1
              .cb-bet-item-flag
                img(alt='', src='img/icons/team1.png')
              .cb-bet-item-date
                .cb-bet-item-date-day 22 мая
                .cb-bet-item-date-time 19:00
              .cb-bet-item-flag
                img(alt='', src='img/icons/team2.png')
              span.cb-bet-item-team Англия
            .cb-block-1600
              button.cb-bet-item-label 2.10
              button.cb-bet-item-label 3.30
              button.cb-bet-item-label 3.25
        .cb-greed-15
          .cb-bet-item-lbl.cb-align-right
            span.cb-bet-item-ico
            span.cb-bet-item-ico
            span.cb-bet-item-ico
            span.cb-bet-item-ico.m-black 2
  h2.cb-h2 Текущие матчи
  .cb-bet-item
    .cb-flex-container.m-center
      .cb-greed
        .cb-greed-15
          i.cb-icon.cb-r-icon.cb-icon-wot
        .cb-greed-70
          .cb-flex-container.m-center.m-1600
            .cb-block-1600
              span.cb-bet-item-team Команда 1
              .cb-bet-item-flag
                img(alt='', src='img/icons/team1.png')
              .cb-bet-item-date
                .cb-bet-item-date-day 22 мая
                .cb-bet-item-date-time 19:00
              .cb-bet-item-flag
                img(alt='', src='img/icons/team2.png')
              span.cb-bet-item-team Англия
            .cb-block-1600
              button.cb-bet-item-label 2.10
              button.cb-bet-item-label 3.30
              button.cb-bet-item-label 3.25
        .cb-greed-15
          .cb-bet-item-lbl.cb-align-right
            span.cb-bet-item-ico
            span.cb-bet-item-ico
            span.cb-bet-item-ico
            span.cb-bet-item-ico.m-black 2
  .cb-bet-item
    .cb-flex-container.m-center
      .cb-greed
        .cb-greed-15
          i.cb-icon.cb-r-icon.cb-icon-wot
        .cb-greed-70
          .cb-flex-container.m-center.m-1600
            .cb-block-1600
              span.cb-bet-item-team Команда 1
              .cb-bet-item-flag
                img(alt='', src='img/icons/team1.png')
              .cb-bet-item-date
                .cb-bet-item-date-day 22 мая
                .cb-bet-item-date-time 19:00
              .cb-bet-item-flag
                img(alt='', src='img/icons/team2.png')
              span.cb-bet-item-team Англия
            .cb-block-1600
              button.cb-bet-item-label 2.10
              button.cb-bet-item-label 3.30
              button.cb-bet-item-label 3.25
        .cb-greed-15
          .cb-bet-item-lbl.cb-align-right
            span.cb-bet-item-ico
            span.cb-bet-item-ico
            span.cb-bet-item-ico
            span.cb-bet-item-ico.m-black 2
  .cb-bet-item
    .cb-flex-container.m-center
      .cb-greed
        .cb-greed-15
          i.cb-icon.cb-r-icon.cb-icon-wot
        .cb-greed-70
          .cb-flex-container.m-center.m-1600
            .cb-block-1600
              span.cb-bet-item-team Команда 1
              .cb-bet-item-flag
                img(alt='', src='img/icons/team1.png')
              .cb-bet-item-date
                .cb-bet-item-date-day 22 мая
                .cb-bet-item-date-time 19:00
              .cb-bet-item-flag
                img(alt='', src='img/icons/team2.png')
              span.cb-bet-item-team Англия
            .cb-block-1600
              button.cb-bet-item-label 2.10
              button.cb-bet-item-label 3.30
              button.cb-bet-item-label 3.25
        .cb-greed-15
          .cb-bet-item-lbl.cb-align-right
            span.cb-bet-item-ico
            span.cb-bet-item-ico
            span.cb-bet-item-ico
            span.cb-bet-item-ico.m-black 2
  .cb-bet-item
    .cb-flex-container.m-center
      .cb-greed
        .cb-greed-15
          i.cb-icon.cb-r-icon.cb-icon-wot
        .cb-greed-70
          .cb-flex-container.m-center.m-1600
            .cb-block-1600
              span.cb-bet-item-team Команда 1
              .cb-bet-item-flag
                img(alt='', src='img/icons/team1.png')
              .cb-bet-item-date
                .cb-bet-item-date-day 22 мая
                .cb-bet-item-date-time 19:00
              .cb-bet-item-flag
                img(alt='', src='img/icons/team2.png')
              span.cb-bet-item-team Англия
            .cb-block-1600
              button.cb-bet-item-label 2.10
              button.cb-bet-item-label 3.30
              button.cb-bet-item-label 3.25
        .cb-greed-15
          .cb-bet-item-lbl.cb-align-right
            span.cb-bet-item-ico
            span.cb-bet-item-ico
            span.cb-bet-item-ico
            span.cb-bet-item-ico.m-black 2
  .cb-bet-item
    .cb-flex-container.m-center
      .cb-greed
        .cb-greed-15
          i.cb-icon.cb-r-icon.cb-icon-wot
        .cb-greed-70
          .cb-flex-container.m-center.m-1600
            .cb-block-1600
              span.cb-bet-item-team Команда 1
              .cb-bet-item-flag
                img(alt='', src='img/icons/team1.png')
              .cb-bet-item-date
                .cb-bet-item-date-day 22 мая
                .cb-bet-item-date-time 19:00
              .cb-bet-item-flag
                img(alt='', src='img/icons/team2.png')
              span.cb-bet-item-team Англия
            .cb-block-1600
              button.cb-bet-item-label 2.10
              button.cb-bet-item-label 3.30
              button.cb-bet-item-label 3.25
        .cb-greed-15
          .cb-bet-item-lbl.cb-align-right
            span.cb-bet-item-ico
            span.cb-bet-item-ico
            span.cb-bet-item-ico
            span.cb-bet-item-ico.m-black 2
  .cb-bet-item
    .cb-flex-container.m-center
      .cb-greed
        .cb-greed-15
          i.cb-icon.cb-r-icon.cb-icon-wot
        .cb-greed-70
          .cb-flex-container.m-center.m-1600
            .cb-block-1600
              span.cb-bet-item-team Команда 1
              .cb-bet-item-flag
                img(alt='', src='img/icons/team1.png')
              .cb-bet-item-date
                .cb-bet-item-date-day 22 мая
                .cb-bet-item-date-time 19:00
              .cb-bet-item-flag
                img(alt='', src='img/icons/team2.png')
              span.cb-bet-item-team Англия
            .cb-block-1600
              button.cb-bet-item-label 2.10
              button.cb-bet-item-label 3.30
              button.cb-bet-item-label 3.25
        .cb-greed-15
          .cb-bet-item-lbl.cb-align-right
            span.cb-bet-item-ico
            span.cb-bet-item-ico
            span.cb-bet-item-ico
            span.cb-bet-item-ico.m-black 2
include _translation-sticked