section.cb-news
  .cb-news-in
    .cb-news-top
      .cb-news-top-title Новости
    .cb-news-in
      .cb-news-item
        .cb-news-item-title
          a(href='#') Путеводительпо Divinity Original Sin
        p
          | Как быстро освоиться в самой сложной ролевой игре 2014 года, сделав уже первое прохождение Divinity: Original Sin...
      .cb-news-item
        .cb-news-item-title
          a(href='#') Продюсеры экранизации Deus Ex возьмутся за Thief
        p
          | По мотивам недавно перезагруженного игрового сериала Thief снимут фильм. Продюсируют проект Эдриен Аскарие...
      .cb-news-item
        .cb-news-item-title
          a(href='#') Путеводительпо Divinity Original Sin
        p
          | Как быстро освоиться в самой сложной ролевой игре 2014 года, сделав уже первое прохождение Divinity: Original Sin...
      .cb-news-item
        .cb-news-item-title
          a(href='#') Продюсеры экранизации Deus Ex возьмутся за Thief
        p
          | По мотивам недавно перезагруженного игрового сериала Thief снимут фильм. Продюсируют проект Эдриен Аскарие...
  .cb-bonus
    .cb-bonus-percent 600%
    .cb-bonus-meta бонус на первый депозит
