section.cb-news
  .news
    .news__top
      .news__top-title Новости
    .news__in
      .news__item
        .news__item-title
          a(href='#') Путеводительпо Divinity Original Sin
        p
          | Как быстро освоиться в самой сложной ролевой игре 2014 года, сделав уже первое прохождение Divinity: Original Sin...
      .news__item
        .news__item-title
          a(href='#') Продюсеры экранизации Deus Ex возьмутся за Thief
        p
          | По мотивам недавно перезагруженного игрового сериала Thief снимут фильм. Продюсируют проект Эдриен Аскарие...
      .news__item
        .news__item-title
          a(href='#') Путеводительпо Divinity Original Sin
        p
          | Как быстро освоиться в самой сложной ролевой игре 2014 года, сделав уже первое прохождение Divinity: Original Sin...
      .news__item
        .news__item-title
          a(href='#') Продюсеры экранизации Deus Ex возьмутся за Thief
        p
          | По мотивам недавно перезагруженного игрового сериала Thief снимут фильм. Продюсируют проект Эдриен Аскарие...
  .bonus
    .bonus__percent 600%
    .bonus__meta бонус на первый депозит
