section.cb-totalisator.m-bet
  .cb-totalisator-in
    .cb-bet-item.m-normal
      .cb-flex-container.m-center
        .cb-greed
          .cb-greed-15
            i.cb-icon.cb-r-icon.cb-icon-wot
          .cb-greed-70.align-center
            span.cb-bet-item-team Команда 1 Англия Англия Англия
            .cb-bet-item-flag
              img(src='img/icons/team1.png', alt='')
            .cb-bet-item-date
              .cb-bet-item-date-day 22 мая
              .cb-bet-item-date-time 19:00
            .cb-bet-item-flag
              img(src='img/icons/team2.png', alt='')
            span.cb-bet-item-team Англия Англия Англия Англия
          .cb-greed-15.align-right
            .cb-bet-item-lbl
              span.cb-bet-item-ico.cb-bet-item-ico1
              span.cb-bet-item-ico.cb-bet-item-ico1
  .cb-question-list
    .cb-question-list-title Сколько голов будет забито в матче ?
    ul.cb-question-list-ul
      li.cb-question-list-item
        span.cb-question-list-item-meta 0 - 1 гол
        span.cb-question-list-item-num 235
      li.cb-question-list-item
        span.cb-question-list-item-meta 2 гола и меньше
        span.cb-question-list-item-num 295
      li.cb-question-list-item
        span.cb-question-list-item-meta 0 - 1 гол
        span.cb-question-list-item-num 235
      li.cb-question-list-item.is-active
        span.cb-question-list-item-meta 2 гола и меньше
        span.cb-question-list-item-num 295
      li.cb-question-list-item
        span.cb-question-list-item-meta 0 - 1 гол
        span.cb-question-list-item-num 235
      li.cb-question-list-item
        span.cb-question-list-item-meta 2 гола и меньше
        span.cb-question-list-item-num 295
      li.cb-question-list-item
        span.cb-question-list-item-meta 0 - 1 гол
        span.cb-question-list-item-num 235
      li.cb-question-list-item
        span.cb-question-list-item-meta 2 гола и меньше
        span.cb-question-list-item-num 295
    .cb-pagi
      ul.cb-pagi-list
        li.cb-pagi-item.m-prev
          a.cb-pagi-link 
        li.cb-pagi-item.is-active
          a.cb-pagi-link 1
        li.cb-pagi-item.is-active
          a.cb-pagi-link 2
        li.cb-pagi-item.is-active
          a.cb-pagi-link 3
        li.cb-pagi-item
          a.cb-pagi-link 4
        li.cb-pagi-item
          a.cb-pagi-link 5
        li.cb-pagi-item.m-next
          a.cb-pagi-link
    .cb-question-center
      button.cb-reg.btn.btn-primary
        i.fa.fa-database
        span Регистрация



