.cb-sexy-nav
  .cb-sexy-nav-left
    ul
      li.cb-sexy-nav-item
        a(href="#").cb-sexy-logo.js-nav-guest.js-nav-push
          i.cb-navmobile-ico
          i.cb-icon.cb-icon-logo 
          | cybets.net
      li
        a(href="#") Ставки
      li
        a(href="#") Тотализатор
      li
        a(href="#") Вход
  .cb-sexy-nav-right
    .cb-sexy-nav-user(style="display:block;")
      ul
        li
          a(href="#") 
            i.fa.fa-user
            span.cb-user-nick user-name
        li
          i.fa.fa-cog
        li
          i.fa.fa-cog
    .cb-sexy-nav-guest(style="display:none;")
      ul
        li
          a(href="#") Войти
        li
          a(href="#") Регистрация