.cb-primary-nav.js-set-absolute.js-nav-get-height
  .cb-primary-nav-wrap.js-nav-calc-height
    .baron-wrap.baron.js-baron2
      .scroller
        .baron-text
          ul
            li
              a.cb-home(href='#')
                i.cb-logo.cb-icon-logo
                span Сybets.net
            li
              a.bet(href='#')
                span.cb-primary-nav-ico.usd-wrap
                  i.fa.fa-usd
                span Ставки
            li
              a(href='#')
                i.cb-primary-nav-ico.fa.fa-users
                span Тотализатор
            li
              a(href='#')
                i.cb-primary-nav-ico.fa.fa-arrow-circle-o-right
                span Вход
      .scroller-bar-wrapper
        .scroller-bar
.cb-sexy-nav
  .cb-sexy-nav-left
    ul
      li
        a(href="#").cb-sexy-logo.js-nav-guest
          i.cb-icon.cb-icon-logo 
          | cybets.net
      li
        a(href="#") Викторины
      li
        a(href="#") Трансляции
  .cb-sexy-nav-right
    .cb-sexy-nav-user(style="display:block;")
      ul
        li
          a(href="#") 
            i.fa.fa-user
            span.cb-user-nick user-name
        li
          i.fa.fa-cog
        li
          i.fa.fa-cog
    .cb-sexy-nav-guest(style="display:none;")
      ul
        li
          a(href="#") Войти
        li
          a(href="#") Регистрация





