.cb-primary-nav.js-set-absolute.js-nav-get-height
  .cb-primary-nav-wrap.js-nav-calc-height
    .baron-wrap.baron.js-baron2
      .scroller
        .baron-text
          ul
            li
              a.cb-home(href='#')
                i.cb-logo.cb-icon-logo
                span Сybets.net
            li
              a.bet(href='#')
                span.cb-primary-nav-ico.usd-wrap
                  i.fa.fa-usd
                span Ставки
            li
              a(href='#')
                i.cb-primary-nav-ico.fa.fa-users
                span Тотализатор
            li
              a(href='#')
                i.cb-primary-nav-ico.fa.fa-arrow-circle-o-right
                span Вход
      .scroller-bar-wrapper
        .scroller-bar