.cb-primary-nav.m-user.js-set-absolute
	ul
		li
			a.cb-back(href='#')
				| Сybets.net
		li
			.cb-user
				.cb-user-media
					.cb-user-media-num 5
					.cb-user-media-ava
						img(src='http://placehold.it/120x120', alt='img')
				.cb-user-name
					a(href='#') NirtS
				.cb-user-bal
					a(href='#') На счету: $0.00
		li
			a.bet(href='#')
				span.cb-primary-nav-ico.usd-wrap
					i.fa.fa-usd
				span Ставки
		li
			a(href='#')
				i.cb-primary-nav-ico.fa.fa-users
				span Тотализатор
		li
			a(href='#')
				i.cb-primary-nav-ico.fa.fa-cog
				span Настройки
		li
			a(href='#')
				i.cb-primary-nav-ico.fa.fa-headphones
				span Задать вопрос
		li
			a(href='#')
				i.cb-primary-nav-ico.fa.fa-arrow-circle-o-left
				span Выход
