.cb-primary-nav.js-set-absolute
  ul
    li
      a.cb-home(href='#')
        i.cb-logo.cb-icon-logo
        span Сybets.net
    li
      a.bet(href='#')
        span.cb-primary-nav-ico.usd-wrap
          i.fa.fa-usd
        span Ставки
    li
      a(href='#')
        i.cb-primary-nav-ico.fa.fa-users
        span Тотализатор
    li
      a(href='#')
        i.cb-primary-nav-ico.fa.fa-arrow-circle-o-right
        span Вход