section.cb-totalisator
  .cb-totalisator-in
    .cb-totalisator-item
      .cb-flex-container.m-center
        .cb-greed
          .cb-greed-5
            i.cb-icon.cb-r-icon.cb-icon-wot
          .cb-greed-75
            .cb-totalisator-item-content
              .cb-flex-container.m-center.m-1600
                .cb-totalisator-item-content-label.w80
                  .cb-totalisator-item-meta
                    p Англия - Италия. Чемпионат мира 2014
                    p Поставить 3 евро!
                  .cb-totalisator-item-date
                    p 22 май
                    p 19:00
                .cb-totalisator-item-content-label.w20
                  a.cb-lbl(href='#') Э 10.00
                  a.cb-lbl.m-sucess(href='#') Free
                  a.cb-lbl(href='#') 1 / 10
          .cb-greed-20.cb-align-right
            a.btn.btn-info(href='#')
              | Подробнее 
              i.fa.fa-angle-right
    .cb-totalisator-item
      .cb-flex-container.m-center
        .cb-greed
          .cb-greed-5
            i.cb-icon.cb-r-icon.cb-icon-wot
          .cb-greed-75
            .cb-totalisator-item-content
              .cb-flex-container.m-center.m-1600
                .cb-totalisator-item-content-label.w80
                  .cb-totalisator-item-meta
                    p Англия - Италия. Чемпионат мира 2014
                    p Поставить 3 евро!
                  .cb-totalisator-item-date
                    p 22 май
                    p 19:00
                .cb-totalisator-item-content-label.w20
                  a.cb-lbl.m-gray(href='#') Э 10.00
                  a.cb-lbl.m-gray(href='#') Free
                  a.cb-lbl.m-gray(href='#') 1 / 10
          .cb-greed-20.cb-align-right
            a.btn.btn-info(href='#')
              | Подробнее 
              i.fa.fa-angle-right
    .cb-totalisator-item
      .cb-flex-container.m-center
        .cb-greed
          .cb-greed-5
            i.cb-icon.cb-r-icon.cb-icon-wot
          .cb-greed-75
            .cb-totalisator-item-content
              .cb-flex-container.m-center.m-1600
                .cb-totalisator-item-content-label.w80
                  .cb-totalisator-item-meta
                    p Англия - Италия. Чемпионат мира 2014
                    p Поставить 3 евро!
                  .cb-totalisator-item-date
                    p 22 май
                    p 19:00
                .cb-totalisator-item-content-label.w20
                  a.cb-lbl(href='#') Э 10.00
                  a.cb-lbl(href='#') Free
                  a.cb-lbl(href='#') 1 / 10
          .cb-greed-20.cb-align-right
            a.btn.btn-info(href='#')
              | Подробнее 
              i.fa.fa-angle-right
    .cb-totalisator-item
      .cb-flex-container.m-center
        .cb-greed
          .cb-greed-5
            i.cb-icon.cb-r-icon.cb-icon-wot
          .cb-greed-75
            .cb-totalisator-item-content
              .cb-flex-container.m-center.m-1600
                .cb-totalisator-item-content-label.w80
                  .cb-totalisator-item-meta
                    p Англия - Италия. Чемпионат мира 2014
                    p Поставить 3 евро!
                  .cb-totalisator-item-date
                    p 22 май
                    p 19:00
                .cb-totalisator-item-content-label.w20
                  a.cb-lbl(href='#') Э 10.00
                  a.cb-lbl.m-sucess(href='#') Free
                  a.cb-lbl(href='#') 1 / 10
          .cb-greed-20.cb-align-right
            a.btn.btn-info(href='#')
              | Подробнее 
              i.fa.fa-angle-right
    .cb-totalisator-item
      .cb-flex-container.m-center
        .cb-greed
          .cb-greed-5
            i.cb-icon.cb-r-icon.cb-icon-wot
          .cb-greed-75
            .cb-totalisator-item-content
              .cb-flex-container.m-center.m-1600
                .cb-totalisator-item-content-label.w80
                  .cb-totalisator-item-meta
                    p Англия - Италия. Чемпионат мира 2014
                    p Поставить 3 евро!
                  .cb-totalisator-item-date
                    p 22 май
                    p 19:00
                .cb-totalisator-item-content-label.w20
                  a.cb-lbl.m-gray(href='#') Э 10.00
                  a.cb-lbl.m-gray(href='#') Free
                  a.cb-lbl.m-gray(href='#') 1 / 10
          .cb-greed-20.cb-align-right
            a.btn.btn-info(href='#')
              | Подробнее 
              i.fa.fa-angle-right
    .cb-totalisator-item
      .cb-flex-container.m-center
        .cb-greed
          .cb-greed-5
            i.cb-icon.cb-r-icon.cb-icon-wot
          .cb-greed-75
            .cb-totalisator-item-content
              .cb-flex-container.m-center.m-1600
                .cb-totalisator-item-content-label.w80
                  .cb-totalisator-item-meta
                    p Англия - Италия. Чемпионат мира 2014
                    p Поставить 3 евро!
                  .cb-totalisator-item-date
                    p 22 май
                    p 19:00
                .cb-totalisator-item-content-label.w20
                  a.cb-lbl(href='#') Э 10.00
                  a.cb-lbl(href='#') Free
                  a.cb-lbl(href='#') 1 / 10
          .cb-greed-20.cb-align-right
            a.btn.btn-info(href='#')
              | Подробнее 
              i.fa.fa-angle-right
    .cb-totalisator-item
      .cb-flex-container.m-center
        .cb-greed
          .cb-greed-5
            i.cb-icon.cb-r-icon.cb-icon-wot
          .cb-greed-75
            .cb-totalisator-item-content
              .cb-flex-container.m-center.m-1600
                .cb-totalisator-item-content-label.w80
                  .cb-totalisator-item-meta
                    p Англия - Италия. Чемпионат мира 2014
                    p Поставить 3 евро!
                  .cb-totalisator-item-date
                    p 22 май
                    p 19:00
                .cb-totalisator-item-content-label.w20
                  a.cb-lbl(href='#') Э 10.00
                  a.cb-lbl.m-sucess(href='#') Free
                  a.cb-lbl(href='#') 1 / 10
          .cb-greed-20.cb-align-right
            a.btn.btn-info(href='#')
              | Подробнее 
              i.fa.fa-angle-right
    .cb-totalisator-item
      .cb-flex-container.m-center
        .cb-greed
          .cb-greed-5
            i.cb-icon.cb-r-icon.cb-icon-wot
          .cb-greed-75
            .cb-totalisator-item-content
              .cb-flex-container.m-center.m-1600
                .cb-totalisator-item-content-label.w80
                  .cb-totalisator-item-meta
                    p Англия - Италия. Чемпионат мира 2014
                    p Поставить 3 евро!
                  .cb-totalisator-item-date
                    p 22 май
                    p 19:00
                .cb-totalisator-item-content-label.w20
                  a.cb-lbl.m-gray(href='#') Э 10.00
                  a.cb-lbl.m-gray(href='#') Free
                  a.cb-lbl.m-gray(href='#') 1 / 10
          .cb-greed-20.cb-align-right
            a.btn.btn-info(href='#')
              | Подробнее 
              i.fa.fa-angle-right
    .cb-totalisator-item
      .cb-flex-container.m-center
        .cb-greed
          .cb-greed-5
            i.cb-icon.cb-r-icon.cb-icon-wot
          .cb-greed-75
            .cb-totalisator-item-content
              .cb-flex-container.m-center.m-1600
                .cb-totalisator-item-content-label.w80
                  .cb-totalisator-item-meta
                    p Англия - Италия. Чемпионат мира 2014
                    p Поставить 3 евро!
                  .cb-totalisator-item-date
                    p 22 май
                    p 19:00
                .cb-totalisator-item-content-label.w20
                  a.cb-lbl(href='#') Э 10.00
                  a.cb-lbl(href='#') Free
                  a.cb-lbl(href='#') 1 / 10
          .cb-greed-20.cb-align-right
            a.btn.btn-info(href='#')
              | Подробнее 
              i.fa.fa-angle-right
include _translation-sticked2