section.cb-totalisator
  .totalisator
    .totalisator__item
      .cb-flex-container.m-center
        .cb-greed
          .cb-greed-5
            i.cb-icon.cb-r-icon.cb-icon-wot
          .cb-greed-75
            .totalisator__item-content
              .cb-flex-container.m-center.m-1600
                .totalisator__item-content-label.w80
                  .totalisator__item-meta
                    p Англия - Италия. Чемпионат мира 2014
                    p Поставить 3 евро!
                  .totalisator__item-date
                    p 22 май
                    p 19:00
                .totalisator__item-content-label.w20
                  a.lbl(href='#') Э 10.00
                  a.lbl.lbl_sucess(href='#') Free
                  a.lbl(href='#') 1 / 10
          .cb-greed-20.cb-align-right
            a.btn.btn-info(href='#')
              | Подробнее 
              i.fa.fa-angle-right
    .totalisator__item
      .cb-flex-container.m-center
        .cb-greed
          .cb-greed-5
            i.cb-icon.cb-r-icon.cb-icon-wot
          .cb-greed-75
            .totalisator__item-content
              .cb-flex-container.m-center.m-1600
                .totalisator__item-content-label.w80
                  .totalisator__item-meta
                    p Англия - Италия. Чемпионат мира 2014
                    p Поставить 3 евро!
                  .totalisator__item-date
                    p 22 май
                    p 19:00
                .totalisator__item-content-label.w20
                  a.lbl.lbl_gray(href='#') Э 10.00
                  a.lbl.lbl_gray(href='#') Free
                  a.lbl.lbl_gray(href='#') 1 / 10
          .cb-greed-20.cb-align-right
            a.btn.btn-info(href='#')
              | Подробнее 
              i.fa.fa-angle-right
    .totalisator__item
      .cb-flex-container.m-center
        .cb-greed
          .cb-greed-5
            i.cb-icon.cb-r-icon.cb-icon-wot
          .cb-greed-75
            .totalisator__item-content
              .cb-flex-container.m-center.m-1600
                .totalisator__item-content-label.w80
                  .totalisator__item-meta
                    p Англия - Италия. Чемпионат мира 2014
                    p Поставить 3 евро!
                  .totalisator__item-date
                    p 22 май
                    p 19:00
                .totalisator__item-content-label.w20
                  a.lbl(href='#') Э 10.00
                  a.lbl(href='#') Free
                  a.lbl(href='#') 1 / 10
          .cb-greed-20.cb-align-right
            a.btn.btn-info(href='#')
              | Подробнее 
              i.fa.fa-angle-right
    .totalisator__item
      .cb-flex-container.m-center
        .cb-greed
          .cb-greed-5
            i.cb-icon.cb-r-icon.cb-icon-wot
          .cb-greed-75
            .totalisator__item-content
              .cb-flex-container.m-center.m-1600
                .totalisator__item-content-label.w80
                  .totalisator__item-meta
                    p Англия - Италия. Чемпионат мира 2014
                    p Поставить 3 евро!
                  .totalisator__item-date
                    p 22 май
                    p 19:00
                .totalisator__item-content-label.w20
                  a.lbl(href='#') Э 10.00
                  a.lbl.lbl_sucess(href='#') Free
                  a.lbl(href='#') 1 / 10
          .cb-greed-20.cb-align-right
            a.btn.btn-info(href='#')
              | Подробнее 
              i.fa.fa-angle-right
    .totalisator__item
      .cb-flex-container.m-center
        .cb-greed
          .cb-greed-5
            i.cb-icon.cb-r-icon.cb-icon-wot
          .cb-greed-75
            .totalisator__item-content
              .cb-flex-container.m-center.m-1600
                .totalisator__item-content-label.w80
                  .totalisator__item-meta
                    p Англия - Италия. Чемпионат мира 2014
                    p Поставить 3 евро!
                  .totalisator__item-date
                    p 22 май
                    p 19:00
                .totalisator__item-content-label.w20
                  a.lbl.lbl_gray(href='#') Э 10.00
                  a.lbl.lbl_gray(href='#') Free
                  a.lbl.lbl_gray(href='#') 1 / 10
          .cb-greed-20.cb-align-right
            a.btn.btn-info(href='#')
              | Подробнее 
              i.fa.fa-angle-right
    .totalisator__item
      .cb-flex-container.m-center
        .cb-greed
          .cb-greed-5
            i.cb-icon.cb-r-icon.cb-icon-wot
          .cb-greed-75
            .totalisator__item-content
              .cb-flex-container.m-center.m-1600
                .totalisator__item-content-label.w80
                  .totalisator__item-meta
                    p Англия - Италия. Чемпионат мира 2014
                    p Поставить 3 евро!
                  .totalisator__item-date
                    p 22 май
                    p 19:00
                .totalisator__item-content-label.w20
                  a.lbl(href='#') Э 10.00
                  a.lbl(href='#') Free
                  a.lbl(href='#') 1 / 10
          .cb-greed-20.cb-align-right
            a.btn.btn-info(href='#')
              | Подробнее 
              i.fa.fa-angle-right
    .totalisator__item
      .cb-flex-container.m-center
        .cb-greed
          .cb-greed-5
            i.cb-icon.cb-r-icon.cb-icon-wot
          .cb-greed-75
            .totalisator__item-content
              .cb-flex-container.m-center.m-1600
                .totalisator__item-content-label.w80
                  .totalisator__item-meta
                    p Англия - Италия. Чемпионат мира 2014
                    p Поставить 3 евро!
                  .totalisator__item-date
                    p 22 май
                    p 19:00
                .totalisator__item-content-label.w20
                  a.lbl(href='#') Э 10.00
                  a.lbl.lbl_sucess(href='#') Free
                  a.lbl(href='#') 1 / 10
          .cb-greed-20.cb-align-right
            a.btn.btn-info(href='#')
              | Подробнее 
              i.fa.fa-angle-right
    .totalisator__item
      .cb-flex-container.m-center
        .cb-greed
          .cb-greed-5
            i.cb-icon.cb-r-icon.cb-icon-wot
          .cb-greed-75
            .totalisator__item-content
              .cb-flex-container.m-center.m-1600
                .totalisator__item-content-label.w80
                  .totalisator__item-meta
                    p Англия - Италия. Чемпионат мира 2014
                    p Поставить 3 евро!
                  .totalisator__item-date
                    p 22 май
                    p 19:00
                .totalisator__item-content-label.w20
                  a.lbl.lbl_gray(href='#') Э 10.00
                  a.lbl.lbl_gray(href='#') Free
                  a.lbl.lbl_gray(href='#') 1 / 10
          .cb-greed-20.cb-align-right
            a.btn.btn-info(href='#')
              | Подробнее 
              i.fa.fa-angle-right
    .totalisator__item
      .cb-flex-container.m-center
        .cb-greed
          .cb-greed-5
            i.cb-icon.cb-r-icon.cb-icon-wot
          .cb-greed-75
            .totalisator__item-content
              .cb-flex-container.m-center.m-1600
                .totalisator__item-content-label.w80
                  .totalisator__item-meta
                    p Англия - Италия. Чемпионат мира 2014
                    p Поставить 3 евро!
                  .totalisator__item-date
                    p 22 май
                    p 19:00
                .totalisator__item-content-label.w20
                  a.lbl(href='#') Э 10.00
                  a.lbl(href='#') Free
                  a.lbl(href='#') 1 / 10
          .cb-greed-20.cb-align-right
            a.btn.btn-info(href='#')
              | Подробнее 
              i.fa.fa-angle-right
    .cb-payment
      i.cb-payment-3
      i.cb-payment-2
      i.cb-payment-1
    .cb-translation
      .cb-translation-play
        a(href='#')
          i.fa.fa-play-circle
          span
            | Трансляции: 
            span.cb-translation-match Англия - Голландия
      i.fa.fa-chevron-circle-up.js-translation
      i.clip
