.cb-translation
  .cb-translation-play
    a(href='#')
      i.fa.fa-play-circle
      span
        | Трансляции: 
        span.cb-translation-match Англия - Голландия
  i.fa.fa-chevron-circle-up.js-translation
  i.clip