section.cb-bet-translation
  .cb-match
    .cb-match-top
      h2.cb-h2.m-white Трансляции
      i.cb-match-close.fa.fa-close.js-match-close
    .cb-match-nav
      ul
        li
          a(href='#')
            i.cb-icon.cb-icon-wot
            span Все
        li
          a.is-active(href='#')
            i.cb-icon.cb-icon-wot.is-active
            span Англия - Германия
        li
          a(href='#')
            i.cb-icon.cb-icon-wot
            span Камерун - Франция
    .cb-match-items
      .baron-wrap.js-baron
        .scroller
          .cb-match-item
            .cb-match-item-media
              .cb-match-item-media-play
                img(alt='img', src='http://placehold.it/700x250')
              i.cb-match-item-media-ico
            .cb-match-item-descr
              .cb-match-item-descr-name
                a(href='#') Название трансляции
          .cb-match-item
            .cb-match-item-media
              .cb-match-item-media-play
                img(alt='img', src='http://placehold.it/700x250')
              i.cb-match-item-media-ico
            .cb-match-item-descr
              .cb-match-item-descr-name
                a(href='#') Название трансляции
          .cb-match-item
            .cb-match-item-media
              .cb-match-item-media-play
                img(alt='img', src='http://placehold.it/700x250')
              i.cb-match-item-media-ico
            .cb-match-item-descr
              .cb-match-item-descr-name
                a(href='#') Название трансляции
          .cb-match-item
            .cb-match-item-media
              .cb-match-item-media-play
                img(alt='img', src='http://placehold.it/700x250')
              i.cb-match-item-media-ico
            .cb-match-item-descr
              .cb-match-item-descr-name
                a(href='#') Название трансляции
          .cb-match-item
            .cb-match-item-media
              .cb-match-item-media-play
                img(alt='img', src='http://placehold.it/700x250')
              i.cb-match-item-media-ico
            .cb-match-item-descr
              .cb-match-item-descr-name
                a(href='#') Название трансляции
          .cb-match-item
            .cb-match-item-media
              .cb-match-item-media-play
                img(alt='img', src='http://placehold.it/700x250')
              i.cb-match-item-media-ico
            .cb-match-item-descr
              .cb-match-item-descr-name
                a(href='#') Название трансляции
          .cb-match-item
            .cb-match-item-media
              .cb-match-item-media-play
                img(alt='img', src='http://placehold.it/700x250')
              i.cb-match-item-media-ico
            .cb-match-item-descr
              .cb-match-item-descr-name
                a(href='#') Название трансляции
          .cb-match-item
            .cb-match-item-media
              .cb-match-item-media-play
                img(alt='img', src='http://placehold.it/700x250')
              i.cb-match-item-media-ico
            .cb-match-item-descr
              .cb-match-item-descr-name
                a(href='#') Название трансляции
          .cb-match-item
            .cb-match-item-media
              .cb-match-item-media-play
                img(alt='img', src='http://placehold.it/700x250')
              i.cb-match-item-media-ico
            .cb-match-item-descr
              .cb-match-item-descr-name
                a(href='#') Название трансляции
          .cb-match-item
            .cb-match-item-media
              .cb-match-item-media-play
                img(alt='img', src='http://placehold.it/700x250')
              i.cb-match-item-media-ico
            .cb-match-item-descr
              .cb-match-item-descr-name
                a(href='#') Название трансляции
          .cb-match-item
            .cb-match-item-media
              .cb-match-item-media-play
                img(alt='img', src='http://placehold.it/700x250')
              i.cb-match-item-media-ico
            .cb-match-item-descr
              .cb-match-item-descr-name
                a(href='#') Название трансляции
          .cb-match-item
            .cb-match-item-media
              .cb-match-item-media-play
                img(alt='img', src='http://placehold.it/700x250')
              i.cb-match-item-media-ico
            .cb-match-item-descr
              .cb-match-item-descr-name
                a(href='#') Название трансляции
        .scroller-bar-wrapper
          .scroller-bar